<div class="col-md-4 col-sm-4 picture-mar1 mar-top2">
    <div class="col-left col-left-3"></div>
    <div class="col-center-3-bg"></div>
    <div class="col-center col-center-3">
        <h3>通知单完成百分比</h3>
        <div class="charts-histogram-1">
            <table class="percent-tab progress-blue-tab">
                <tbody>
                    <tr>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning progress-bar-striped" data-transitiongoal="85" style="width: 85%;" aria-valuenow="85"><span class="probar-tit">通知单号1</span><span class="probar-num">85%</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning progress-bar-striped" data-transitiongoal="85" style="width: 85%;" aria-valuenow="85"><span class="probar-tit">通知单号1</span><span class="probar-num">85%</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning progress-bar-striped" data-transitiongoal="85" style="width: 85%;" aria-valuenow="85"><span class="probar-tit">通知单号1</span><span class="probar-num">85%</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning progress-bar-striped" data-transitiongoal="85" style="width: 85%;" aria-valuenow="85"><span class="probar-tit">通知单号1</span><span class="probar-num">85%</span></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-right col-right-3"><a class="more-btn" href="#"></a></div>
</div>