<div class="col-sm-12">
    <div class="col-left col-left-4"></div>
    <div class="col-center col-center-4">
        <h3>计划完成百分比</h3>
        <div class="percent-msg">
            <span class="progress-icon"></span> 任务总量
            <span class="progress-bar-icon" aria-hidden="true"></span> 完成占比
        </div>
        <table class="percent-tab">
            <tbody>
                <tr>
                    <td style="width:115px;">计划账号完成1：</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" data-transitiongoal="85" style="width: 85%;" aria-valuenow="85"><span>85%</span></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>计划1：</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" data-transitiongoal="85" style="width: 85%;" aria-valuenow="85"><span>85%</span></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>计划1：</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" data-transitiongoal="85" style="width: 85%;" aria-valuenow="85"><span>85%</span></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>计划1：</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" data-transitiongoal="85" style="width: 85%;" aria-valuenow="85"><span>85%</span></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>计划1：</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" data-transitiongoal="85" style="width: 85%;" aria-valuenow="85"><span>85%</span></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-right col-right-4"><a class="more-btn" href="#">更多</a></div>
</div>