<div class="col-sm-12">
    <div class="col-left col-left-5"></div>
    <div class="col-center col-center-5">
        <h3>粮食市场价格变化</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>品名</th>
                    <th>指数</th>
                    <th>涨跌幅</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>一级豆油</td>
                    <td>3455</td>
                    <td>3455</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>一级豆油</td>
                    <td>3455</td>
                    <td>3455</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>一级豆油</td>
                    <td>3455</td>
                    <td>3455</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>一级豆油</td>
                    <td>3455</td>
                    <td>3455</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>一级豆油</td>
                    <td>3455</td>
                    <td>3455</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>一级豆油</td>
                    <td>3455</td>
                    <td>3455</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>一级豆油</td>
                    <td>3455</td>
                    <td>3455</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-right col-right-5"></div>
</div>