<div class="col-sm-12 mar-top2">
    <div class="col-left col-left-3"></div>
    <div class="col-center col-center-3">
        <h3>预警信息</h3>
        <ul class="list-group">
          <li class="list-group-item"><img alt="text" src="styles/img/home-1/text-icon1.png"/>&nbsp;10号仓小麦超过55度高温</li>
          <li class="list-group-item"><img alt="text" src="styles/img/home-1/text-icon1.png"/>&nbsp;1***作业点摄像头断网高温</li>
          <li class="list-group-item"><img alt="text" src="styles/img/home-1/text-icon1.png"/>&nbsp;10号仓小麦超过55度高温</li>
        </ul>
    </div>
    <div class="col-right col-right-3"><a class="more-btn" href="#">更多</a></div>
</div>