<!-- MAIN CONTENT -->
<div id="content">

	<!-- widget grid -->
	<section id="widget-grid" widget-grid>

		<!-- START ROW -->
		<div class="row">

			<!-- NEW COL START -->
			<article class="col-sm-12 col-md-12 col-lg-12">

				<!-- Widget ID (each widget will need unique ID)-->
				<div jarvis-widget id="form-grid-widget"
					 data-widget-colorbutton="false" data-widget-editbutton="false"
					 data-widget-custombutton="false">

					<!-- widget div-->
					<div>

						<!-- widget content -->
						<div class="widget-body no-padding">
							<form id="agentNumber-form" class="smart-form ng-pristine ng-valid" data-validator-option="validateOptions" novalidate="novalidate">
								<header>
									<a href-void class="btn btn-default btn-xs" ng-click="retList()">
										<i class="fa fa-angle-left"></i>&nbsp;返回&nbsp;
									</a>
									&nbsp;<strong>库存数量详情</strong>
								</header>
								<fieldset>
									<div class="row">
										<section class="col col-4">
											<label class="label txt-bg-red">代储点名称<span style="color: red;">*</span></label>
											<label class="select">
												<select ng-model="agentNumberEdit.agentId" required name="agentId"
														ng-options="agent.id as agent.agentName for agent in agentData.list"
														class="form-control" ng-change="getAgentDepotData(agentNumberEdit.agentId)">
													<option value="">--请选择--</option>
												</select>
											</label>
										</section>
										<section class="col col-4">
											<label class="label txt-bg-red">粮库名称<span style="color: red;">*</span></label>
											<label class="select">
												<select ng-model="agentNumberEdit.agentDepotId" name="agentDepotId" required
														ng-options="depot.depotId as depot.depotName for depot in depotList"
														class="form-control" ng-change="getHouseList(agentNumberEdit.agentDepotId)">
													<option value="">--请选择--</option>
												</select>
											</label>
										</section>
										<section class="col col-4">
											<label class="label txt-bg-red">仓房名称<span style="color: red;">*</span></label>
											<label class="select">
												<select ng-model="agentNumberEdit.storehouseId" name="storehouseId" required
														ng-options="store.storehouseId as store.storehouseName for store in storehouseList"
														class="form-control" ng-change="getWareList(agentNumberEdit.storehouseId)">
													<option value="">--请选择--</option>
												</select>
											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-4">
											<label class="label txt-bg-red">货位名称<span style="color: red;">*</span></label>
											<label class="select">
												<select ng-model="agentNumberEdit.warehouseId" name="warehouseId" required
														ng-options="ware.warehouseId as ware.warehouseName for ware in warelist"
														class="form-control">
													<option value="">--请选择--</option>
												</select>
											</label>
										</section>
										<section class="col col-4">
											<label class="label txt-bg-red">粮油品种<span style="color: red;">*</span></label>
											<label class="select">
												<select ng-model="agentNumberEdit.lspz" name="lspz" required
														ng-options="enum.enumid as enum.enumname for enum in dicDataList[1061]"
														class="form-control">
													<option value="">--请选择--</option>
												</select>
											</label>
										</section>
										<section class="col col-4" style="margin-bottom: 0px;">
											<label class="label">粮油性质<span style="color: red;">*</span></label>
											<label class="select">
												<multi-select-tree
														disabled-tree="disabled"
														data-input-model="grainAttributeTreeData"
														data-output-model="agentNumberEdit.nature"
														data-default-label="--请选择--"
														name="nature"
														select-only-leafs="true"
														multi-select="false" required>
												</multi-select-tree>
												<em><span style="color: #D56161;margin-top:6px;padding:0 1px;font-style:normal;font-size:11px;
						                         line-height:15px;" id="grainAttribute-error"></span></em>
											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-4">
											<label class="label">粮油等级<span style="color: red;">*</span></label>
											<label class="select">
												<select ng-model="agentNumberEdit.level" name="level"
														ng-options="enum.enumid as enum.enumname for enum in dicDataList[1002]" required>
													<option value="">--请选择--</option>
												</select><i></i>
											</label>
										</section>
										<section class="col col-4">
											<label class="label">收获年度<span style="color: red;">*</span></label>
											<label class="select">
												<select ng-model="agentNumberEdit.harvestYear" name="harvestYear"
														ng-options="enum.enumid as enum.enumname for enum in dicDataList[1004]" required>
													<option value="">请选择</option>
												</select>
											</label>
										</section>
										<section class="col col-4">
											<label class="label txt-bg-red">库存数量(公斤)</label>
											<label class="input">
												<i class="icon-prepend fa fa-user"></i>
												<input type="text" name="credit" ng-model="agentNumberEdit.inventory"/>
											</label>
										</section>
									</div>
								</fieldset>

								<footer class="text-align-center">
									<button ng-show="isShow == '1'" type="button" class="btn btn-primary" ng-click="saveData()">提交</button>
									<button type="button" class="btn btn-default" ng-click="getEmptying()">取消</button>
								</footer>
							</form>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>
	<form id="download-form" method="post" target="_blank" style=" border-width:5px; margin-left:2%;position:relative;margin-right:2%;">
		<input type="hidden" name="filePath" id="filePath">
		<input type="hidden" name="originalFileName" id="originalFileName">
		<input type="hidden" name="type" id="type">
	</form>
</div>