<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>药剂盘点列表</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline no-footer" >
                            <div class="dt-toolbar">
                                <div class="col-xs-12 col-sm-10">
                                    <div class="form-group">
                                        <label>
                                            <a has-permission="538" href-void class="btn btn-primary btn-sm" ng-click="showAdd()"><i class="fa fa-plus"></i>&nbsp;盘&nbsp;点</a>
                                        </label>
                                        <label>药剂种类:&emsp;
                                            <select class="form-control input-sm" ng-model="searchCondition.drugKind" ng-disabled="isNotEdit" name="drugKind"
                                                    ng-options="enum.enumid as enum.enumname for enum in dicDataList[5498]" required >
                                                <option value="">--请选择--</option>
                                            </select>
                                        </label>&emsp;
                                        <label>药剂名称:&emsp;
                                            <select class="form-control input-sm" ng-model="searchCondition.drugName" ng-disabled="isNotEdit" name="drugName"
                                                    ng-options="enum.enumid as enum.enumname for enum in dicDataList[searchCondition.drugKind]" required >
                                                <option value="">--请选择--</option><i></i>
                                            </select><i></i>
                                        </label>&emsp;
                                        <label>
                                            盘点日期：<input style="width: 100px;" class="form-control" type="text" ng-model="searchCondition.startTime" data-smart-datepicker>
                                            --&nbsp;<input style="width: 100px;" class="form-control" type="text" ng-model="searchCondition.endTime" data-smart-datepicker>
                                        </label>
                                        <label>
                                            <a class="btn btn-default btn-sm" ng-click="loadData()"><i class="fa fa-search"></i>&nbsp;查&nbsp;询</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-2 hidden-xs">
                                    <div class="dataTables_length">
											<label>每页显示 <select ng-model="pageInfo.pageSize" ng-change="loadData(pageInfo.pageNum=1)"
																ng-options="num as num for num in [1,10,25,50,100]"
																class="form-control input-sm"></select> 条
											</label>
									</div>
                                </div>
                            </div>
                        <table class="table table-striped table-bordered table-hover" width="100%">
	                        <thead>
		                        <tr>
		                            <th> 序号</th>
		                            <th> 盘点日期</th>
		                            <th> 盘点编号</th>
                                    <th> 药剂名称</th>
                                    <th> 药剂种类</th>
		                            <th> 盘点类型</th>
		                            <th> 盘点人</th>
		                            <th> 操作</th>
		                        </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="drugCheck in pageInfo.list">
	                                <td>{{ $index+1 }}</td>
	                                <td>{{ drugCheck.createTime | date:'yyyy-MM-dd' }}</td>
	                          		<td>{{ drugCheck.checkNumber}}</td>
	                          		<td>{{ dicData[drugCheck.drugKind]}}</td>
	                          		<td>{{ dicData[drugCheck.drugName]}}</td>
	                                <td>{{ dicData[drugCheck.checkType] }}</td>
	                                <td>{{ userInfoData[drugCheck.creater] }}</td>
	                                <td>
	                                    <a has-permission="539" href-void ng-click="showView(drugCheck.id)"><i class="fa fa-info-circle"></i>查看&nbsp;</a>
	                                </td>
	                            </tr>
	                        </tbody>
                        </table>
						<div smart-include="app/layout/partials/page.tpl.html"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
