<!-- home -->
<div class="home-main">
    <div class="home-main-bg"></div>
    <div class="row pad-top2 row-main">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="row">
                <div data-smart-include="app/home/views/daibsx.html"></div>
                <!--**待办事项 col-sm-12**-->
                <div data-smart-include="app/home/views/liangkjbzk.html"></div>
                <!--**粮库基本状况 col-sm-12**-->
            </div>
        </div>
        <div class="col-lg-9 col-sm-12 home-right">
        <div class="row">
        <!--**待办事项 视频监控 粮食市场价格变化 col-sm-3**-->
        <div class="col-lg-9 col-md-9 col-sm-12 home-search-main">
            <div class="row">
                <div class="home-search-wrap row">
                    <div class="col-md-12 col-sm-12 weather-bor">
                        <!--查询-->
                        <!--
                        <div class="input-group home-search">
                            <div class="btn-group dropdown" data-dropdown>
                                <div class="drop-div" data-toggle="dropdown">
                                    请选择查询项 <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href-void>Action</a>
                                    </li>
                                    <li>
                                        <a href-void>Another action</a>
                                    </li>
                                    <li>
                                        <a href-void>Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href-void>Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sear-int-box">
                            	<i class="sear-icon"></i><input class="form-control" type="text" placeholder="请输入查询内容">
                            </div>
                            <div class="input-group-btn"><button class="btn" type="button">搜索</button></div>
                        </div>
                        -->
                        <div class="weather-box">
                            <span class="date-box">{{depotInfo.orgName}}欢迎您</span>
                            <span id="dateInfo" class="date-box">{{now | date:'yyyy-MM-dd'}}</span>
                            <!--<iframe src="http://tianqi.5ikfc.com:90/plugin-code/?style=1&dy=1&cl=ffffff&tl=ffffff&th=ffffff" allowTransparency="true" frameborder="0" scrolling="no" width="280" height="50" id="weather_frame" style="background: black;"></iframe>-->
                        </div>
                    </div>
                    <!--/搜索 col-sm-6-->
                    
                </div>
                <!--****/搜索**-->
                <div class="cangt" ng-controller="cangtCtrl">
                	<div class="cangt-oper" style="z-index: 10;">
                    	<select id="sele" class="form-control input-sm" ng-change="tempCameraChange()" ng-model="seleVal">
                            <option value="1">监控</option>
                            <option value="2">粮情</option>
                        </select>
                       <ul id="indexBJ-ul" >
                       		<li style="cursor: pointer;"><img src="../../styles/img/home-1/baoj.png"/>报警</li>
                       </ul>
                    </div>
                    <div class="wrap-imgbox1">
                        <!--<img id="img" src="styles/img/home-1/cangt.png" style="width: 100%;height: 100%;"/>-->
                        <img id="img" src="{{birdsEyeUrl}}" style="width: 100%;height: 100%;"/>
                        <div style="position: absolute;width: 100%;height:100%;top:0px;left:0px" id="showDiv" auto-height>
                        </div>
                        <div>
                            <div class='jk-icon-box' id="iconDiv"></div>
                            <!--<div class='jk-icon-box'>-->
                                <!--<div class='jk-text-box' style='z-index:0;border-radius:1%;resize: both;height: 0px;width:9%;left:52.86%;top:13.81%;position: absolute;text-align:center;line-height: 6;'>-->
                                    <!--<i class='text-i' style='cursor:default;padding: 0px 0px;font-size: 15px;'>P1库</i>-->
                                <!--</div>-->
                                <!--<div class='jk-text-box' style='z-index:0;border-radius:1%;resize: both;height: 0px;width:10%;left:53.37%;top:49.17%;position: absolute;text-align:center;line-height: 6;'>-->
                                    <!--<i class='text-i' style='cursor:default;padding: 0px 0px;font-size: 15px;'>P2库</i>-->
                                <!--</div>-->
                                <!--<div class='jk-text-box' style='z-index:0;border-radius:1%;resize: both;height: 0px;width:10%;left:32.43%;top:12.9%;position: absolute;text-align:center;line-height: 6;'>-->
                                    <!--<i class='text-i' style='cursor:default;padding: 0px 0px;font-size: 15px;'>P3库</i>-->
                                <!--</div>-->
                                <!--<div class='jk-text-box' style='z-index:0;border-radius:1%;resize: both;height: 0px;width:10%;left:31.84%;top:50.68%;position: absolute;text-align:center;line-height: 6;'>-->
                                    <!--<i class='text-i' style='cursor:default;padding: 0px 0px;font-size: 15px;'>P4库</i>-->
                                <!--</div>-->
                                <!--<div class='jk-text-box' style='z-index:0;border-radius:1%;resize: both;height: 0px;width:15%;left:72.62%;top:32.93%;position: absolute;text-align:center;line-height: 3;'>-->
                                    <!--<i class='text-i' style='cursor:default;padding: 0px 0px;font-size: 15px;'>P5库</i>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="changt-icon baoj-icon-box">
                    	<!--<img style="top:120px; left:250px;" src="styles/img/home-1/ship.png"/>-->
                        <!--<img class="baoj-icon" style="top:130px; left:275px;" src="styles/img/home-1/baoj.png"/>-->
                    </div>
                    <div id="popContainer" style="display:none;">

                    </div>
                    <!--********/弹窗*******-->
                    <div class="modal fade" id="cameraPlayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="width:78%;height:85%;">
                            <div class="modal-content" style="height:100%;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">{{alias}}</h4>
                                </div>
                                <div class="modal-body" id="ocxDiv" style="height:80%;">
                                    <!--<div smart-include="app/monitor/views/camera-ocx.html"></div>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="distroyOcx()">
                                        取消
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal-->
                </div>
                <!--*******/cangt******-->
            </div>
        </div>
        <!--**/查询 仓图 col-sm-5**-->
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="row">
                <div data-smart-include="app/home/views/dangqzy.html"></div>
                <!--**当前作业 col-sm-12**-->
                <div data-smart-include="app/home/views/kuczb.html"></div>
                <!--**储粮量/库存占比 col-sm-12**-->
                <div data-smart-include="app/home/views/chuldj.html"></div>
                <!--**储粮等级 col-sm-12**-->
            </div>
        </div>
        <!--**/当前作业 储粮量/库存占比 粮食品种 储粮等级 col-sm-4**-->
        </div>
        <div class="row home-row-fotter">
            <div data-smart-include="app/home/views/quxt.html"></div>
            <!--**三温曲线图 col-sm-12**-->
            <div data-smart-include="app/home/views/liangspz.html"></div>
            <!--**粮食品种 col-sm-12**-->
        </div>
        </div>
    </div>
    
</div>
<!--**/内容结束**-->