<div id="content">
	<section id="widget-grid" widget-grid>
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12">
				<div jarvis-widget id="form-grid-widget" data-widget-colorbutton="false" data-widget-editbutton="false"
					 data-widget-custombutton="false">
					<div>
						<div class="widget-body no-padding">
							<form id="deviceBack-form" class="smart-form" data-validator-option="validateOptions" novalidate="novalidate">
								<button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
								<header>
									<a href-void class="btn btn-default btn-xs" ng-click="back()"><i class="fa fa-angle-left"></i>&nbsp;返回&nbsp;</a>
									&nbsp;<strong>归还信息</strong>
								</header>
								<fieldset>
									<div class="row">
										<section class="col col-3">
											<label class="input">
											        <input type="hidden" ng-model="deviceGet.id" ng-readonly="isNotEdit">
													<label class="label">归还设备编号：<span style="color: red;"></span></label>
													<input type="text" ng-model="deviceGet.number" ng-readonly="true"
														  required>
											</label>
										</section>
										<section class="col col-3">
											<label class="input">
													<label class="label">归还数量：<span style="color: red;">*</span></label>
													<input type="number" ng-model="deviceGet.backCount" name="backCount" ng-readonly="isNotEdit"
														   placeholder="归还数量" ng-change="backCountChange(id)" required>
											</label>
										</section>
										<section class="col col-3">
											<label class="input">
													<label class="label">故障设备编号：<span style="color: red;"></span></label>
													<input type="text" ng-model="deviceGet.number" ng-readonly="true"
														  required>
											</label>
										</section>
										<section class="col col-3">
											<label class="input">
													<label class="label">故障设备数量：<span style="color: red;">*</span></label>
													<input type="number" ng-model="deviceGet.brokenCount" name="brokenCount" ng-readonly="isNotEdit"
														   placeholder="故障设备数量" ng-change="backCountChange()" required>
											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-3">
												<label class="input">
													<label class="label">记账人：<span style="color: red;">*</span></label>
													<input type="text" ng-model="deviceGet.backKeeper" name="backKeeper" ng-readonly="isNotEdit"
														   placeholder="记账人" required>
												</label>
										</section>
										<section class="col col-3">
												<label class="input">
													<label class="label">核对人：<span style="color: red;">*</span></label>
													<input type="text" ng-model="deviceGet.collator" name="collator" ng-readonly="isNotEdit"
														   placeholder="核对人" required>
												</label>
										</section>
										<section class="col col-3">
												<label class="input">
													<label class="label">经手人：<span style="color: red;">*</span></label>
													<input type="text" ng-model="deviceGet.backHandler" name="backHandler" ng-readonly="isNotEdit"
														   placeholder="经手人" required>
												</label>
										</section>
										<section class="col col-3">
											<label class="label">归还日期：<span style="color: red;">*</span></label>
											<label class="input">
												<input type="text" ng-model="deviceGet.backTime" name="backTime" data-smart-datepicker ng-disabled="isNotEdit"
													   placeholder="归还日期" required>
												<input type="hidden" ng-model="deviceGet.id" name="getId" ng-readonly="isNotEdit">
											</label>
										</section>
									</div>
								</fieldset>
								<footer>
									<div class="row">
										<div class="col-md-12">
											<a class="btn btn-default" href-void="" href="#" ng-click="back()" ng-hide="isNotEdit">取消</a>
											<a class="btn btn-primary" href-void="" href="#" ng-click="saveBackData()"  ng-hide="isNotEdit">提交</a>
										</div>
									</div>
								</footer>
								<!-- <input type="hidden" ng-model="deviceGet.getCount" name="getCount" ng-readonly="isNotEdit"> -->
						    </form>
					    </div>
					</div>
				</div>
			</article>
		</div>
	</section>
</div>
