<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">

                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>保管员移交记录列表 </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                          <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div class="dt-toolbar">
								<div class="col-xs-12 col-sm-10">
									<div class="form-group">
										<label>
											<a has-permission="139" href-void class="btn btn-primary btn-sm" ng-click="showAddTransfer()"><i class="fa fa-plus"></i>&nbsp;新&nbsp;增</a>&emsp;
										</label>
									</div>
									<div class="form-group">
										<label> 仓房名称:&emsp;
											<select ng-model="search.storehouseId" class="form-control input-sm"
													ng-options="store.storehouseId as store.storehouseName for store in storelist">
												<option value="">请选择</option>
											</select>&emsp;
										</label>
									</div>
									<div class="form-group">
										<label>
											交接日期:&emsp;<input style="width: 100px;" class="form-control" type="text" ng-model="keepertransfer.searchStartDate" name="searchStartDate" data-smart-datepicker>
											--&nbsp;<input style="width: 100px;" class="form-control" type="text" ng-model="keepertransfer.searchEndDate" name="searchEndDate" data-smart-datepicker>
											&emsp;<a class="btn btn-default btn-sm" ng-click="loadData()"> <i class="fa fa-search"></i>&nbsp;查&nbsp;询</a>
										</label>
									</div>
								</div>

								<div class="col-sm-2 col-xs-6 hidden-xs">
									<div class="dataTables_length">
										<label>每页显示 <select ng-model="pageInfo.pageSize" ng-change="loadData()"
															ng-options="num as num for num in [10,25,50,100]"
															class="form-control input-sm"></select> 条
										</label>
									</div>
								</div>
							</div>

						<table class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th data-hide="phone">序号</th>
                            <th data-hide="phone">仓房名称</th>
                            <th data-class="expand"> 交接时间</th>
                            <th data-class="expand">移交人</th>
                            <th data-hide="phone"> 接收人</th>
                            <th data-hide="phone,tablet"> 监交人</th>
                            <th data-hide="phone,tablet"> 操作</th>
                        </tr>
                        </thead>
                        
                        <tbody>
                        	<tr ng-repeat="keepertransfer in pageInfo.list">
								<th align="center">{{$index + 1 + (pageInfo.pageNum-1) * pageInfo.pageSize}}</th>
								<td>{{keepertransfer.storehouseName}}</td>
                        		<td>{{keepertransfer.transTime | date:'yyyy-MM-dd'}}</td>
                        		<td>{{keepertransfer.transUserName}}</td>
                        		<td>{{keepertransfer.receiveUserName}}</td>
                        		<td>{{keepertransfer.superiorUserName}}</td>
                        		<td>
                        			<a href-void ng-click="showViewTransfer(keepertransfer.id,keepertransfer.houseId)"><i class="fa fa-info-circle"></i>查看</a>
									<!--<a has-permission="393" href-void ng-click="remove(keepertransfer.id)"><i class="fa fa-trash-o"></i>删除</a>-->
                        		</td>
                        	</tr>
                        </tbody>

                        </table>
							<div smart-include="app/layout/partials/page.tpl.html"></div>
						</div>
                    	</div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>