<div id="content">
	<section id="widget-grid" widget-grid>
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12">
				<div jarvis-widget id="form-grid-widget" data-widget-colorbutton="false" data-widget-editbutton="false"
					 data-widget-custombutton="false">
					<div>
						<div class="widget-body no-padding">
						<!--	<legend>
								<a href-void class="btn btn-default btn-xs" ng-click="back()"><i class="fa fa-angle-left"></i>&nbsp;返回&nbsp;</a>
							</legend>-->
							<form id="keepertransfer-form" class="smart-form" data-validator-option="validateOptions" novalidate="novalidate">
								<button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
								<header>
									<a href-void class="btn btn-default btn-xs" ng-click="back()">
										<i class="fa fa-angle-left"></i>&nbsp;返回&nbsp;
									</a>
									&nbsp;<strong>保管员移交记录</strong>
								</header>
								<fieldset>
									<div class="row">
										<section class="col col-2">
											<span>仓房名称：</span>
											<label class="select">
												<select ng-model="keepertransfer.houseId" name="houseId"  ng-change=change()
														ng-options="transfer.storehouseId as transfer.storehouseName for transfer in storehouseList"
														class="form-control" ng-disabled="isNotEdit">
													<option value="" disabled>--请选择--</option>
												</select>
											</label>
										</section>
										<section class="col col-2">
											<span>交接时间：</span>
											<label class="input">
												<input type="text" ng-model="keepertransfer.transTime" name="transTime"  ng-disabled="isNotEdit"
													   data-smart-datepicker>
											</label>
										</section>
										<section class="col col-2">
											<label class="input">
												<span>移交人：</span><!--ng-model="keepertransfer.transUser" name="transUser"-->
												<input type="text" ng-model="transUserName" name="transUserName" ng-disabled="true"
													   id="transUser"  value="" required>
											</label>
										</section>
										<section class="col col-2">
											<label class="input">
												<span>接收人：</span>
												<input type="text" ng-model="receiveUserName" name="receiveUserName" ng-disabled="true"
													   id="receive"  value="" required>
											</label>
										</section>
										<section class="col col-2">
											<label class="input">
												<span>监交人：</span>
												<input type="text" ng-model="superiorUserName" name="superiorUserName" ng-disabled="true"
												   value="" required>
											</label>
										</section>
									</div>

									<table class="table table-striped table-bordered table-hover" width="100%">
										<thead>
										<tr>
											<th data-hide="phone">货位名称</th>
											<th data-class="expand"> 品种</th>
											<th data-class="expand">数量(kg)</th>
											<th data-hide="phone"> 质量达标判定</th>
											<th data-hide="phone">储存品质</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="ktDetail in keepertransferDetail">
											<td>
												{{ktDetail.warehouseName}}
											</td>
											<td  ng-model="ktDetail.pz">
												{{dicData[ktDetail.pz]}}
											<td  ng-model="ktDetail.kcsl">
												{{ktDetail.kcsl}}
											</td>
											<td >
												<select ng-model="ktDetail.quality" name="quality"
														 ng-options="enum.enumid as enum.enumname for enum in dicDataList[378]"  ng-disabled="true">
													<option value="">-- 请选择 --</option>
												</select>
											</td>
											<td >
												<select ng-model="ktDetail.foodStatus"
														ng-options="enum.enumid as enum.enumname for enum in dicDataList[381]" ng-disabled="true">
													<option value="">-- 请选择 --</option>
												</select>
											</td>
										</tr>
										</tbody>
									</table>
									<div class="row">
										<section class="col col-10">
											<label class="label">备注</label>
											<label class="textarea textarea-resizable">

												<textarea rows="3" class="custom-scroll"  ng-model="keepertransfer.remark"  ng-disabled="isNotEdit" name="remark"></textarea>
											</label>
										</section>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>
</div>
