<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">合同列表</h4>
    </div>
    <div class="modal-body">
                    <div>
                        <div class="widget-body no-padding">
                        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline no-footer">
                            <div class="dt-toolbar">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="dataTables_filter">
                                        <label>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        <table class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                        
                            <th> 计划编号</th>
                            <th> 合同编号</th>
                            <th> 合同名称</th>
                            <th> 合同类型</th>
                            <th> 数量(公斤)</th>
                            <th> 金额(元)</th>
                            <th> 支付方式</th>
                            <th> 创建日期</th>
                            <th> 操作</th>
                        </tr>
                        </thead>
                        
                        <tbody>
                            <tr ng-repeat="contract in pageInfo.list">
                                <td>{{contract.planNumber}}</td>
                                <td>{{contract.contractNumber}}</td>
                                <td>{{contract.contractTitle}}</td>
                                <td>{{ dicData[contract.contractType] }}</td>
                                <td>{{ contract.grainQuantity}}</td>
                                <td>{{ contract.moneyQuantity}}</td>
                                <td>{{ dicData[contract.contractPayType]}}</td>
                                <td>{{ contract.createTime | date:'yyyy-MM-dd' }}</td>
                                <td>
                                    <a href-void ng-click="selectContract(contract)"><i class="fa fa-edit"></i>选择</a>
                                </td>
                            </tr>
                        </tbody>

                        </table>
						<div smart-include="app/layout/partials/page.tpl.html"></div>
                        </div>
                        </div>
                    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"  ng-click="cancel()">
        	取消
        </button>
    </div>
</div>
