<div id="content">
	<section id="widget-grid" widget-grid>
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12">
				<div jarvis-widget id="form-grid-widget" data-widget-colorbutton="false" data-widget-editbutton="false"
					 data-widget-custombutton="false">
					<div>
						<div class="widget-body no-padding">
							<form id="contract-form" class="smart-form" data-validator-option="validateOptions" novalidate="novalidate">
								<button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
								<header>
									<a href-void class="btn btn-default btn-xs" ng-click="back()"><i class="fa fa-angle-left"></i>&nbsp;返回&nbsp;</a>
									&nbsp;<strong>合同收付款详情</strong>
								</header>
								<fieldset>
									<div class="row">
										<section class="col col-3">
											<label class="label">合同编号：<span style="color: red;">*</span></label>
											<label class="select">
												<select ng-model="contract.contractNum" name="contractNum" 
														ng-options="contract.contractNumber as contract.contractNumber for contract in contractList"
														class="form-control" ng-disabled="isNotEdit" required>
													<option value="">--请选择--</option>
												</select>   
											</label>
										</section>
										<section class="col col-3">
											<label class="label">合同名称：<span style="color: red;">*</span></label>
											<label class="select">
												<select ng-model="contract.contractTitle" name="contractTitle" 
														ng-options="contract.contractTitle as contract.contractTitle for contract in contractList | filter:{contractNumber:contract.contractNum}"
														class="form-control" ng-disabled="isNotEdit" required>
													<option value="">--请选择--</option>
												</select>
											</label>
										</section>
										<section class="col col-3">
											<label class="label">收付款状态：<span style="color: red;">*</span></label>
											<label>
												<section>
		                                            <input type="radio" name="payStatus" value="0" ng-model="contract.payStatus" />收款
													<input type="radio" name="payStatus" value="1" ng-model="contract.payStatus" />付款
		                                        </section>
		                                         <em><span style="color: #D56161;margin-top:6px;padding:0 1px;font-style:normal;font-size:11px;
                                            line-height:15px;" id="payStatus-error"></span></em>
											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-3">
											<label class="label">收付款金额(元)：<span style="color: red;">*</span></label>
											<label class="input">
												<input type="number" ng-model="contract.money" name="money"  ng-disabled="isNotEdit"
													   placeholder="收付款金额" required>
											</label>
										</section>
										<section class="col col-3">
												<label class="input">
													<label class="label">收付款日期：<span style="color: red;">*</span></label>
													<input type="text" ng-model="contract.time" name="time" data-smart-datepicker ng-disabled="isNotEdit"
													   placeholder="收付款日期" required>
												</label>
										</section>
									</div>
								</fieldset>
								<footer>
									<div class="row">
										<div class="col-md-12">
										    <a class="btn btn-default" href-void="" href="#" ng-click="back()" ng-hide="isNotEdit">取消</a>
											<a class="btn btn-primary" href-void="" href="#" ng-click="saveData()"  ng-hide="isNotEdit">提交</a>
										</div>
									</div>
								</footer>
						    </form>
					    </div>
					</div>
				</div>
			</article>
		</div>
	</section>
</div>
