<form id="basicEnum-form" name='basicEnum-form'
	class="smart-form ng-pristine ng-valid"
	ng-submit='basicEnum-form.$valid&&save(basicEnum)'
	novalidate="novalidate">
    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label class="label">枚举编码<span style="color: red;margin-left: 5px;text-align: center;">*</span></label>
                <label class="input">
                    <input type="text" ng-model="basicEnum.enumcode" name="enumcode" placeholder="枚举编码" maxlength="30" required>
                </label>
            </section>
            <section class="col col-6">
                <label class="label">枚举名称<span style="color: red;margin-left: 5px;text-align: center;">*</span></label>
                <label class="input">
                    <input type="text" ng-model="basicEnum.enumname" name="enumname" maxlength="40" placeholder="枚举名称" required>
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label">国标编码</label>
                <label class="input">
                    <input type="text" ng-model="basicEnum.gbcode" name="gbcode" maxlength="20" placeholder="国标编码">
                </label>
            </section>
            <section class="col col-6">
<!-- 				<label class="label">是否使用</label> -->
<!-- 				<label class="select"> -->
<!-- 					<select ng-model="basicEnum.delflag"  -->
<!-- 						ng-options="enum.enumid as enum.enumname for enum in dicDataList[1035]" -->
<!-- 						class="form-control"> -->
<!-- 						<option value="">--请选择--</option> -->
<!-- 					</select> -->
<!-- 				</label> -->
				<label class="label">是否使用</label>
				<div class="inline-group">
					<label class="radio">
						<input type="radio" ng-value="1" ng-model="basicEnum.delflag"><i></i>是
					</label>
					<label class="radio">
						<input type="radio" ng-value="0" ng-model="basicEnum.delflag"><i></i>否
					</label>
				</div>
				
			</section>
        </div>
        <section>
	      	<label class="label">描述</label>
	       	<label class="textarea"> <i class="icon-append fa fa-comment"></i>
	           	<textarea rows="5" ng-model="basicEnum.remark" name="remark" oninput="if(value.length>255) value=value.slice(0,255)" placeholder="描述"></textarea>
	       	</label>
	   	</section>
<!-- 	   	<div class="row"> -->
            
<!--         </div> -->
        
    </fieldset>
</form>