<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">


        <div class="row">
            <article class="col-sm-12">

                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>日志列表 </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div class="dt-toolbar">
								<div class="col-xs-12 col-sm-9">
									<div class="form-group">
                                        <label> 操作IP:&emsp;<input type="search" ng-model="ip" class="form-control input-sm" placeholder="">&emsp;</label>
                                    </div>
									<div class="form-group">
                                        <label> 操作人:&emsp;<input type="search" ng-model="operaMan" class="form-control input-sm" placeholder="">&emsp;</label>
                                    </div>
									<div class="form-group">
                                        <label> 所属单位:&emsp;<input type="search" ng-model="operaDepartment" class="form-control input-sm" placeholder="">&emsp;</label>
                                    </div>
									<div class="form-group">
										<label>
											<span>等级类型：</span>
											<label class="select">
												<select class="form-control" name="level" ng-model="level">
													<option value="">--请选择--</option>
													<option value="1">低级</option>
													<option value="2">中级</option>
													<option value="3">高级</option>
												</select> <i></i>
											</label>
										</label>
										<a class="btn btn-default btn-sm" ng-click="loadData(pageInfo.pageNum=1)">
											<i class="fa fa-search"></i>&nbsp;查&nbsp;询</a>
									</div>
								</div>
								<div class="col-sm-3 col-xs-6 hidden-xs">
									<div class="dataTables_length">
										<label>每页显示 <select ng-model="pageInfo.pageSize" ng-change="loadData(pageInfo.pageNum=1)"
															ng-options="num as num for num in [10,25,50,100]"
															class="form-control input-sm"></select> 条
										</label>
									</div>
								</div>
							</div>

						<table class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                        <tr>
                            <th data-class="expand">日志编号</th>
							<th data-class="expand">操作IP</th>
                            <th data-class="expand">操作人</th>
                            <th data-class="expand">所属单位</th>
                            <th data-hide="phone">日志内容</th>
                            <th data-hide="phone">操作时间</th>
                            <th data-hide="phone">日志等级</th>
                        </tr>
                        </thead>
                        
                        <tbody>
                        	<tr ng-repeat="log in pageInfo.list">
                        		<td>{{log.id}}</td>
								<td>{{log.operaIp}}</td>
                        		<td>{{log.operaMan}}</td>
								<td>{{log.operaDepartment}}</td>
								<td>{{log.content}}</td>
								<td>{{log.operaTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        		<td>{{log.level=='1'?'低级':log.level=='2'?'中级':'高级'}}</td>
                        	</tr>
                        </tbody>
                        </table>
						<div smart-include="app/layout/partials/page.tpl.html"></div>
                    </div>
                </div>
					</div>
				</div>
            </article>
        </div>

    </section>
    
</div>
