<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">

                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken"
                     data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>气调记录列表</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline no-footer">
                                <div class="dt-toolbar">
                                    <div class="col-xs-12 col-sm-10">
                                        <label> 仓房名称:&emsp;
                                            <select ng-model="search.vcfcode" class="form-control input-sm"
                                                    ng-options="store.storehouseCode as store.storehouseName for store in storelist">
                                                <option value="">请选择</option>
                                            </select>&emsp;
                                        </label>
                                        <a class="btn btn-default btn-sm" ng-click="loadData()"> <i class="fa fa-search"></i>&nbsp;查&nbsp;询</a>
                                        <a class="btn btn-default btn-sm" ng-click="empty()"> <i class=""></i>&nbsp;清&nbsp;空</a>
                                    </div>
                                    <div class="col-sm-2 col-xs-2 hidden-xs">
                                        <div class="dataTables_length">
                                            <label>每页显示 <select ng-model="pageInfo.pageSize" ng-change="loadData()"
                                                                ng-options="num as num for num in [1,10,25,50,100]"
                                                                class="form-control input-sm"></select> 条
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th data-class="expand" style="text-align:center;">序号</th>
                                        <th data-class="expand" style="text-align:center;">仓房名称</th>
                                        <th data-class="expand" style="text-align:center;">设备编码</th>
                                        <th data-class="expand" style="text-align:center;">设备名称</th>
                                        <th data-class="expand" style="text-align:center;">开始时间</th>
                                        <th data-class="expand" style="text-align:center;">结束时间</th>
                                        <th data-class="expand" style="text-align:center;">操作人</th>
                                        <th data-class="expand" style="text-align:center;">具体详细信息</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="history in pageInfo.list">
                                        <td style="text-align:center;">{{ $index + 1 }}</td>
                                        <td style="text-align:center;">{{ storeHouseCodeObj[history.vcfcode].storehouseName }}</td>
                                        <td style="text-align:center;">{{ history.vdevcode }}</td>
                                        <td style="text-align:center;">{{ history.vdevname }}</td>
                                        <td style="text-align:center;">{{ history.starttime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                        <td style="text-align:center;">{{ history.endtime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                        <!--<td style="text-align:center;">{{ history.energy }}</td>-->
                                        <td style="text-align:center;">{{ history.uperson }}</td>
                                        <td style="text-align:center;">{{ history.remark }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div smart-include="app/layout/partials/page.tpl.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>