<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">

                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>实时数据查询列表&emsp;&emsp;<span style="color: red;">注:标红数值表示不在合理范围或设备异常.</span></h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline no-footer">
                                <div class="dt-toolbar">
                                    <div class="col-xs-12 col-sm-10">
                                        <div class="form-group">
                                            <label> 仓房名称:
                                                <select ng-model="search.storehouse" class="form-control input-sm"
                                                        ng-options="store.storehouseCode as store.storehouseName for store in storelist">
                                                    <option value="">请选择</option>
                                                </select>&emsp;
                                            </label>
                                            <a class="btn btn-default btn-sm" ng-click="loadData()">
                                                <i class="fa fa-search"></i>&nbsp;查&nbsp;询
                                            </a>
                                            <a class="btn btn-default btn-sm" ng-click="emptyCondition()"> <i class=""></i>&nbsp;清&nbsp;空</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2 hidden-xs">
                                        <div class="dataTables_length">
                                            <label>每页显示 <select ng-model="pageInfo.pageSize" ng-change="loadData()"
                                                                ng-options="num as num for num in [10,25,50,100]"
                                                                class="form-control input-sm"></select> 条
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th data-class="expand" style="text-align:center;">序号</th>
                                        <th data-class="expand" style="text-align:center;">仓房名称</th>
                                        <th data-class="expand" style="text-align:center;">品种</th>
                                        <th data-class="expand" style="text-align:center;">性质</th>
                                        <th data-class="expand" style="text-align:center;">检测时间</th>
                                        <th data-class="expand" style="text-align:center;">仓温(℃)</th>
                                        <th data-class="expand" style="text-align:center;">仓湿(%RH)</th>
                                        <th data-class="expand" style="text-align:center;">最高粮温(℃)</th>
                                        <th data-class="expand" style="text-align:center;">最低粮温(℃)</th>
                                        <th data-class="expand" style="text-align:center;">平均粮温(℃)</th>
                                        <th has-botton="2" data-class="expand" style="text-align:center;"> 操作</th>
                                        <th data-class="expand" style="text-align:center;">详情</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="realTimeList in pageInfo.list">
                                        <td style="text-align:center;">{{ $index + 1 }}</td>
                                        <td style="text-align:center;">{{ storeHouseCodeObj[realTimeList.storehouse].storehouseName }}</td>
                                        <td style="text-align:center;">{{dicData[storehouseCode[realTimeList.storehouse].pz]}}</td>
                                        <td style="text-align:center;">{{dicData[storehouseCode[realTimeList.storehouse].hwxz]}}</td>
                                        <td style="text-align:center;">{{ realTimeList.time | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                        <td style="text-align:center;">
                                            <div ng-if="realTimeList.intemp==250">
                                                <acronym title="设备异常"><span style="color: red;">{{ -100 }}</span></acronym>
                                            </div>
                                            <div ng-if="realTimeList.intemp!=250">{{ realTimeList.intemp }}</div>
                                        </td>
                                        <td style="text-align:center;">
                                            <div ng-if="realTimeList.inh==250">
                                                <acronym title="设备异常"><span style="color: red;">{{ -1 }}</span></acronym>
                                            </div>
                                            <div ng-if="realTimeList.inh!=250">{{ realTimeList.inh }}</div>
                                        </td>

                                        <td style="text-align:center;">
                                            <!--高温报警-->
                                            <div ng-if="realTimeList.max==250">
                                                <acronym title="设备异常"><span style="color: red;">{{ -100 }}</span></acronym>
                                            </div>
                                            <div ng-if="realTimeList.max!=250">
                                                <div ng-if="realTimeList.max >= warningValueList[realTimeList.storehouse].high">
                                                    <div ng-if="realTimeList.max!=250">
                                                        <acronym title="粮温高限报警为: {{warningValueList[realTimeList.storehouse].high}}℃"><span style="color: red;">{{ realTimeList.max }}</span></acronym>
                                                    </div>
                                                </div>
                                                <div ng-if="realTimeList.max < warningValueList[realTimeList.storehouse].high">
                                                    <span>{{ realTimeList.max }}</span>
                                                </div>
                                                <div ng-if="warningValueList[realTimeList.storehouse].high == null">
                                                    <span>{{ realTimeList.max }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align:center;">
                                            <!--低温报警-->
                                            <div ng-if="realTimeList.min==250">
                                                <acronym title="设备异常"><span style="color: red;">{{ -100 }}</span></acronym>
                                            </div>
                                            <div ng-if="realTimeList.min!=250">
                                                <div ng-if="realTimeList.min <= warningValueList[realTimeList.storehouse].low">
                                                    <acronym title="粮温低限报警为: {{warningValueList[realTimeList.storehouse].low}}℃"><span style="color: red;">{{ realTimeList.min }}</span></acronym>
                                                </div>
                                                <div ng-if="realTimeList.min > warningValueList[realTimeList.storehouse].low">
                                                    <span>{{ realTimeList.min }}</span>
                                                </div>
                                                <div ng-if="warningValueList[realTimeList.storehouse].low == null">
                                                    <span>{{ realTimeList.min }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align:center;">
                                            <div ng-if="realTimeList.avg==250">
                                                <acronym title="设备异常"><span style="color: red;">{{ -100 }}</span></acronym>
                                            </div>
                                            <div ng-if="realTimeList.avg!=250">{{ realTimeList.avg}}</div>
                                        </td>
                                        <td has-botton="2" style="text-align:center;">
                                            <a href-void ng-click="onlyStoreGrainTemperatureDetection(realTimeList.storehouse)"><i class=""></i>{{storeHouseCodeObj[realTimeList.storehouse].storehouseName}}检测</a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a ng-click="grainDetectionDetail(realTimeList)"><i class=""></i>详情</a>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                                <div smart-include="app/layout/partials/page.tpl.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
