<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">编辑部门信息</h4>
    </div>
    <div class="modal-body">

        <form id="org-form" class="smart-form form-horizontal ng-pristine" data-validator-option="validateOptions" novalidate="novalidate">
            <fieldset>
                <section class="form-group">
                    <label class="col-md-2 control-label">单位名称：&nbsp;</label>
                    <div class="col-md-6">
                        <input class="form-control" type="text" name="unitName" ng-model="unitInfo.orgName" readonly/>
                    </div>
                </section>
                <section class="form-group">
                    <label class="col-md-2 control-label">部门名称：&nbsp;</label>
                    <div class="col-md-6">
                        <input class="form-control" type="text" name="orgName" ng-model="orgInfo.orgName"
                               minlength="2" maxlength="20" required />
                    </div>
                </section>
            </fieldset>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save()">
            提交
        </button>
        <button type="button" class="btn btn-default"  ng-click="cancel()">
            取消
        </button>
    </div>
</div>
