<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">

                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>温湿度检测列表&emsp;&emsp;<span style="color: red;">注:标红数值表示不在合理范围或设备异常.</span></h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline no-footer">
                                <div class="dt-toolbar">
                                    <div class="col-xs-12 col-sm-10">
                                        <a has-botton="2" class="btn btn-default btn-sm" ng-click="allStoreGrainTemperatureDetection()"> <i class="fa fa-search"></i>&nbsp;粮温检测</a>
                                        <label> 仓房名称:
                                            <select ng-model="search.vCfCode" class="form-control input-sm"
                                                    ng-options="store.storehouseCode as store.storehouseName for store in storelist">
                                                <option value="">请选择</option>
                                            </select>&emsp;
                                        </label>
                                        <label>检测时间:
                                            <input style="width: 100px;" type="text" ng-model="search.time" name="time" class="form-control" data-smart-datepicker>&nbsp;
                                            <a class="btn btn-default btn-sm" ng-click="loadData()"> <i class="fa fa-search"></i>&nbsp;查&nbsp;询</a>
                                            <a class="btn btn-default btn-sm" ng-click="emptyTime()"> <i class=""></i>&nbsp;清&nbsp;空</a>
                                        </label>
                                    </div>
                                    <div class="col-sm-2 col-xs-2 hidden-xs">
                                        <div class="dataTables_length">
                                            <label>每页显示
                                                <select ng-model="pageInfo.pageSize" ng-change="loadData()"
                                                        ng-options="num as num for num in [1,10,25,50,100]" class="form-control input-sm">
                                                </select> 条
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th data-class="expand" style="text-align:center;">序号</th>
                                        <th data-class="expand" style="text-align:center;">仓房名称</th>
                                        <th data-class="expand" style="text-align:center;">品种</th>
                                        <th data-class="expand" style="text-align:center;">性质</th>
                                        <th data-class="expand" style="text-align:center;">检测时间</th>
                                        <th data-class="expand" style="text-align:center;">仓温(℃)</th>
                                        <th data-class="expand" style="text-align:center;">仓湿(%RH)</th>
                                        <th data-class="expand" style="text-align:center;">最高粮温(℃)</th>
                                        <th data-class="expand" style="text-align:center;">最低粮温(℃)</th>
                                        <th data-class="expand" style="text-align:center;">平均粮温(℃)</th>
                                        <th has-botton="2" data-class="expand" style="text-align:center;">操作</th>
                                        <th data-class="expand" style="text-align:center;">详情</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="humitureDetection in pageInfo.list">
                                        <td style="text-align:center;">{{ $index + 1 }}</td>
                                        <td style="text-align:center;">{{ storeHouseCodeObj[humitureDetection.storehouse].storehouseName }}</td>
                                        <td style="text-align:center;">{{dicData[storehouseCode[humitureDetection.storehouse].pz]}}</td>
                                        <td style="text-align:center;">{{dicData[storehouseCode[humitureDetection.storehouse].hwxz]}}</td>
                                        <td style="text-align:center;">{{ humitureDetection.time | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                        <td style="text-align:center;">
                                            <div ng-if="humitureDetection.intemp==250">
                                                <acronym title="设备异常"><span style="color: red;">{{ -100 }}</span></acronym>
                                            </div>
                                            <div ng-if="humitureDetection.intemp!=250">{{ humitureDetection.intemp }}</div>
                                        </td>
                                        <td style="text-align:center;">
                                            <div ng-if="humitureDetection.inh==250">
                                                <acronym title="设备异常"><span style="color: red;">{{ -1 }}</span></acronym>
                                            </div>
                                            <div ng-if="humitureDetection.inh!=250">{{ humitureDetection.inh }}</div>
                                        </td>
                                        <td style="text-align:center;">
                                            <!--高温报警-->
                                            <div ng-if="humitureDetection.max==250">
                                                <acronym title="设备异常"><span style="color: red;">{{ -100 }}</span></acronym>
                                            </div>
                                            <div ng-if="humitureDetection.max!=250">
                                                <div ng-if="humitureDetection.max >= warningValueList[humitureDetection.storehouse].high">
                                                    <div ng-if="humitureDetection.max!=250">
                                                        <acronym title="粮温高限报警为: {{warningValueList[humitureDetection.storehouse].high}}℃"><span style="color: red;">{{ humitureDetection.max }}</span></acronym>
                                                    </div>
                                                </div>
                                                <div ng-if="humitureDetection.max < warningValueList[humitureDetection.storehouse].high">
                                                    <span>{{ humitureDetection.max }}</span>
                                                </div>
                                                <div ng-if="warningValueList[humitureDetection.storehouse].high == null">
                                                    <span>{{ humitureDetection.max }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align:center;">
                                            <!--低温报警-->
                                            <div ng-if="humitureDetection.min==250">
                                                <acronym title="设备异常"><span style="color: red;">{{ -100 }}</span></acronym>
                                            </div>
                                            <div ng-if="humitureDetection.min!=250">
                                                <div ng-if="humitureDetection.min <= warningValueList[humitureDetection.storehouse].low">
                                                    <acronym title="粮温低限报警为: {{warningValueList[humitureDetection.storehouse].low}}℃"><span style="color: red;">{{ humitureDetection.min }}</span></acronym>
                                                </div>
                                                <div ng-if="humitureDetection.min > warningValueList[humitureDetection.storehouse].low">
                                                    <span>{{ humitureDetection.min }}</span>
                                                </div>
                                                <div ng-if="warningValueList[humitureDetection.storehouse].low == null">
                                                    <span>{{ humitureDetection.min }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align:center;">
                                            <div ng-if="humitureDetection.avg==250">
                                                <acronym title="设备异常"><span style="color: red;">{{ -100 }}</span></acronym>
                                            </div>
                                            <div ng-if="humitureDetection.avg!=250">{{ humitureDetection.avg}}</div>
                                        </td>
                                        <td has-botton="2" style="text-align:center;">
                                            <a href-void ng-click="onlyStoreGrainTemperatureDetection(humitureDetection.storehouse)"><i class=""></i>{{storeHouseCodeObj[humitureDetection.storehouse].storehouseName}}检测</a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a href-void ng-click="grainDetectionDetail(humitureDetection)"><i class=""></i>详情</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div smart-include="app/layout/partials/page.tpl.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
