<form id="act-form" class="smart-form" novalidate="novalidate">

	<fieldset>
		<div class="row">
			<section class="col col-6">
				<label class="input"> 
					<input type="text" ng-model="act.name" name="name" placeholder="流程名称">
				</label>
			</section>
			<section class="col col-6">
				<label class="input"> 
					<input type="text" ng-model="act.key" name="key" placeholder="流程标识">
				</label>
			</section>
		</div>

		<div class="row">
			<section class="col col-6">
				<label class="input"> 
					<input type="text" ng-model="act.description" name="description" placeholder="流程描述"
						max-length="11">
				</label>
			</section>
		</div>
	</fieldset>

</form>