<!-- MAIN CONTENT -->
<div id="content" style=" border-width:5px; margin-left:2%;position:relative;margin-right:2%;">
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="form-grid-widget"
                    data-widget-colorbutton="false" data-widget-editbutton="false"
                    data-widget-custombutton="false">
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form id="deliveryStorageNotice-form" class="smart-form ng-pristine ng-valid" data-validator-option="validateOptions" novalidate="novalidate" style=" border-width:5px; margin-left:2%;position:relative;margin-right:2%;">
                                <header>
									<a href-void class="btn btn-default btn-xs" ng-click="retList()">
										<i class="fa fa-angle-left"></i>&nbsp;返回&nbsp;
									</a>
									&nbsp;<strong>发运中转通知单详情</strong>
									<span class="pull-right font-xs">带<span style="color: red;">*</span>的部分必须填写</span>
								</header>
                                <fieldset>
                                <table style="width:70%; border-width:5px; margin-left:15%;position:relative;margin-right:15%;">
                                	<table class="table table-striped table-bordered table-hover" width="100%">
                                		<!--第一个tr开始 -->
										<tr>
											<th  width='10%' rowspan="2" >
												<label class="label" style="margin-top: 9px;text-align: center;">基本信息</label>
		                                    </th>
											<th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">入站通知单编号<span style="color: red;">*</span></label>
											</th>
											<th width='20%'>
												<section>
		                                            <label class="input"> 
		                                                <input class="form-control" type="text" ng-model="deliveryStorageNotice.billNumber" ng-readonly="true" 
		                                                name="billNumber" placeholder="{{ billNumber.msg }}">
		                                            </label>
		                                        </section>
											</th>
											<th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">合同编号</label>
											</th>
											<th width='20%'>
												<section>
                                                        <i class="icon-append fa fa-times" ng-click="removeContract()"></i>
		                                                <input class="form-control" type="text" ng-model="deliveryStorageNotice.contract" ng-readonly="true" ng-disabled="isNotEdit" 
		                                                name="contract" ng-click="getContract()" placeholder="选择合同" >
		                                        </section>
											</th>
											<th>
												<label label class="label" style="margin-top: 9px;text-align: center;">客户名称</label>
											</th>
											<th>
												<section>
                                                    <i class="icon-append fa fa-times" ng-click="removeCustomer()"></i>
	                                                <input class="form-control" type="text" ng-model="deliveryStorageNotice.deliveryCustomer" ng-readonly="true" ng-disabled="isNotEdit" 
	                                                name="deliveryCustomer" placeholder="请选择客户" ng-click="getCustomer()">
		                                        </section>
											</th>
										</tr>
										<!--第一个tr结束 -->
										<tr>
										    <th>
												<label class="label" style="margin-top: 9px;text-align: center;">汽车牌号</label>
											</th>
											<th>
		                                        <section>
		                                            <label class="input"> 
		                                                <input class="form-control" type="text" ng-model="deliveryStorageNotice.carnumber"  ng-readonly="isNotEdit" 
		                                                oninput="if(value.length>50) value=value.slice(0,50)" name="mobile">
		                                            </label>
		                                        </section>
											</th>
											<th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">制单人</label>
											</th>
											<th width='20%'>
												<section>
		                                            <label class="input" style="margin-top: 9px;"> 
		                                            	{{ deliveryStorageNotice.creater }}
		                                            </label>
		                                        </section>
											</th>
											<th>
												<label label class="label" style="margin-top: 9px;text-align: center;">制单时间</label>
											</th>
											<th>
												<section>
		                                            <label class="input" style="margin-top: 9px;"> 
		                                            	{{ deliveryStorageNotice.createTime | date:'yyyy-MM-dd HH:mm:ss' }}
		                                            </label>
		                                        </section>
											</th>
										</tr>
										</table>
										
										<header>
                                	<h3>
                                		<strong>粮食信息</strong>
                               		</h3>
                          		</header>
                                	<table class="table table-striped table-bordered table-hover"  >
										<thead>
												<tr>
													<th data-hide="expand" align="center" width="4%">序号</th>
													<th data-hide="expand" align="center" width="10%">粮油品种</th>
													<th data-hide="expand" align="center" width="14%">明细品种</th>
													<th data-hide="expand" align="center" width="6%">数量(公斤)</th>
													<!-- <th data-hide="expand" align="center" width="9%">操作</th> -->
												</tr>
												</thead>
												<tbody>
												<tr ng-repeat="detailInfo in addedDetail">
													<td>{{$index + 1}}</td>
													<td>{{dicData[detailInfo.grainKind]}}</td>
													<td>{{dicData[detailInfo.grainDetailKind]}}</td>
													<td>{{detailInfo.inCount}}</td>
													<!-- <td>
														<a class="btn btn-primary" ng-hide="isNotEdit" ng-click="editRow(detailInfo)">编辑</a>
	                                                	<a class="btn btn-primary" ng-hide="isNotEdit" ng-click="deleteRow(detailInfo)">删除</a>
													</td> -->
												</tr>
												</tbody>
		                             </table>
		                             <fieldset>
                          			<table>
                          					<tbody>
                          						<tr>
                          							<th>
                          								<label label class="label" style="margin-top: 9px;text-align: center;">通知单数量(公斤):<span style="color: red;">*</span></label>
                          							</th>
                          							<th >
														<section>
				                                            <label class="input" style="margin-top:8px"> 
		                                                <input class="form-control" type="text" ng-model="deliveryStorageNotice.shipingCount" ng-readonly="true" name="grainQuantity">
		                                            </label>
				                                        </section>
											        </th>
                          						</tr>
                          					</tbody>
                          			</table>
                          			</fieldset>
                                </table>
                                </fieldset>
                                <footer>
									<div class="row">
										<div class="col-md-12">
											<a class="btn btn-default" href-void="" href="#" ng-click="back()" ng-hide="isNotEdit">取消</a>
											<a class="btn btn-primary" href-void="" href="#" ng-click="save()"  ng-hide="isNotEdit">提交</a>
										</div>
									</div>
								</footer>
                            </form>
                            
                        </div>
                    </div>
            </article>
        </div>
    </section>
</div>
