<div id="content">
    <section id="widget-grid" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget id="form-grid-widget"
                    data-widget-colorbutton="false" data-widget-editbutton="false"
                    data-widget-custombutton="false">
                    <div>
                        <div class="widget-body no-padding">
                            <form id="codeRule-form" class="smart-form ng-pristine ng-valid" data-validator-option="validateOptions" novalidate="novalidate">
                                <header>
									<a href-void class="btn btn-default btn-xs" ng-click="retList()">
										<i class="fa fa-angle-left"></i>&nbsp;返回&nbsp;
									</a>
									&nbsp;<strong>工作流程编辑</strong>
									<span class="pull-right font-xs">带*的部分必须填写</span>
								</header>
								
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">编码类型<span style="color: red;">*</span></label> 
                                            <label class="select"> 
                                                <select ng-model="codeRule.codeType" name="codeType" ng-disabled="isNotEdit"
                                                ng-options="enum.enumid as enum.enumname for enum in dicDataList[5466]" 
                                                ng-change="previewCodeFun()"
                                                required>
                                                    <option value="">--请选择--</option>
                                                </select><i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label txt-bg-red">编码名称<span style="color: red;">*</span></label> 
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="codeRule.codeName" name="codeName" ng-readonly="isNotEdit" 
                                                ng-change="previewCodeFun()"
                                                required>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">间隔符</label> 
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="codeRule.spacer" name="spacer" ng-readonly="isNotEdit"
                                                ng-change="previewCodeFun()">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">流水长度<span style="color: red;">*</span></label> 
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="codeRule.serialNumberLength" name="serialNumberLength" ng-readonly="isNotEdit"
                                                validInteger="true" ng-change="previewCodeFun()"
                                                required>
                                            </label>
                                        </section>
                                    </div>
                                    
                                </fieldset>
                                
                                <header>
                                    <h3>
                                        <strong>编码规则详情</strong>
                                        &nbsp;&nbsp; <a class="btn btn-primary " ng-hide="isNotEdit" ng-click="addRow()">新增</a>
                                    </h3>
                                </header>
                                <fieldset>
                                    <div ng-repeat="detailInfo in addedDetail">
                                        <input type="hidden" ng-model="detailInfo.id" ng-readonly="isNotEdit">
                                        <div class="row">
                                            <section class="col col-2">
                                                <label class="label">类型</label>
                                                <label class="select">
													<select ng-model="detailInfo.ruleType" name="ruleType{{$index}}" required 
														ng-options="type.value as type.name for type in typeList"
														ng-change="ruleTypeChange()" ng-disabled="true" class="form-control">
															<option value="">--请选择--</option>
													</select>
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label">值</label>
                                                <label class="input"> 
													<input type="text" ng-model="detailInfo.ruleValue" ng-readonly="true" name="ruleValue{{$index}}">
                                            	</label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label"> </label>
                                                <label class="input">
                                                	<a class="btn btn-primary" ng-hide="isNotEdit" ng-click="editRow(detailInfo)">编辑</a>
                                                    <a class="btn btn-primary" ng-hide="isNotEdit" ng-click="deleteRow(detailInfo)">删除</a>
                                                </label>
                                            </section>
                                        </div>
                                    </div>
                                </fieldset>
                                
                                <header>
                                    <h3>
                                        <strong>预览</strong>
                                    </h3>
                                </header>
                                <fieldset>
                                	<section class="col col-4">
                                    	<label class="label"><span ng-bind="previewCode"></span></label> 
                                    </section>
                                </fieldset>
                                
                                <fieldset>
                                </fieldset>
                                
                                <div>
                                    <footer class="text-align-center">
                                        <button type="button" class="btn btn-default" ng-click="retList()">取消</button>
                                        <button type="button" class="btn btn-primary" ng-hide="isNotEdit" ng-click="save()">保存</button>
                                    </footer>
                               </div>
                            </form>
                        </div>
                    </div>
            </article>
        </div>
    </section>
</div>
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">
			&times;</button>
		<h4 class="modal-title" id="myModalLabel">保管员仓房权限信息</h4>
	</div>
	<div class="modal-body">
		<form id="basicEnum-form" name='basicEnum-form'
			class="smart-form ng-pristine ng-valid"
			ng-submit='basicEnum-form.$valid&&save(basicEnum)'
			novalidate="novalidate">

			<fieldset>
				<section>
					<label class="label">复选框勾上的便是当前保管员所管理的仓房</label><br />
					<br />

					<div class="row">
						<div class="col col-4" ng-repeat="store in housePowerList">
							<label class="checkbox">
								<span ng-if="store.delFlag==5">
									<input type="checkbox" name="checkbox" ng-click="updateSelection($event,store.storehouseId)"
										checked="checked" /> 
									<i></i>{{store.storehouseName}}
								</span> 
								<span ng-if="store.delFlag!=5"> 
									<input type="checkbox" name="checkbox" ng-click="updateSelection($event,store.storehouseId)" /> 
									<i></i>{{store.storehouseName}}
								</span>
							</label>
						</div>
						<br />
						<br />

					</div>
				</section>

			</fieldset>
		</form>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-click="save()">
				提交</button>
			<button type="button" class="btn btn-default" ng-click="cancel()">
				取消</button>
		</div>
	</div>