<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">
			&times;</button>
		<h4 class="modal-title" id="myModalLabel">编辑货位信息</h4>
	</div>

	<div class="modal-body">
		<form id="warehouse-form" name='warehouse-form'
			class="smart-form ng-pristine ng-valid"
			data-validator-option="validateOptions" novalidate="novalidate">
			<fieldset>
				<div class="row">
					<section class="col col-4">
						<label class="label">所属库点名称</label>
						<label class="select">
							<select ng-model="warehouse.depotId" required ng-disabled="warehouse.libraryType == 0 || isNotEdit"
									ng-options="depot.depotId as depot.depotName for depot in depotList"
									class="form-control" ng-change="getHouseList(warehouse.depotId)">
								<option value="">--请选择--</option>
							</select>
						</label>
					</section>
					<section class="col col-4">
						<label class="label">仓房名称<span style="color: red;margin-left: 5px;text-align: center;">*</span></label>
						<label class="select">
						<select ng-model="warehouse.storehouseId" required ng-disabled="isNotEdit"
							ng-options="store.storehouseId as store.storehouseName for store in storehouseList"
							class="form-control">
								<option value="">--请选择--</option>
						</select>
						</label>
					</section>
					<section class="col col-4">
						<label class="label">货位名称<span style="color: red;margin-left: 5px;text-align: center;">*</span></label>
						<label class="input">
							<input type="text" ng-model="warehouse.warehouseName" ng-readonly="isNotEdit"
							name="warehouseName" required maxlength="20" />
						</label>
					</section>
				</div>
				<div class="row">
					<section class="col col-4">
						<label class="label">货位编码<span style="color: red;margin-left: 5px;text-align: center;">*</span></label>
						<label class="input">
							<input type="text" ng-model="warehouse.warehouseCode" ng-readonly="isNotEdit"
							name="warehouseCode" ng-blur="warehouseCode()" ng-keyup="checkUp()" required maxlength="2" />
						</label>
					</section>
					<section class="col col-4">
						<label class="label">启用日期<span style="color: red;margin-left: 5px;text-align: center;">*</span></label>
						<label class="input">
							<input type="text" ng-model="warehouse.warehouseUseTime" required
							 name="warehouseUseTime" ng-disabled="isNotEdit" class="form-control datepicker" data-smart-datepicker>
						</label>
					</section>
					<section class="col col-4">
						<label class="label">储粮方式</label>
						<label class="select">
							<select ng-model="warehouse.storeWay" ng-disabled="isNotEdit"
								ng-options="enum.enumid as enum.enumname for enum in dicDataList[1056]"
								class="form-control">
								<option value="">--请选择--</option>
							</select>
						</label>
					</section>
				</div>
				<div class="row">
					<section class="col col-4">
						<label class="label">货位容量(吨)<span style="color: red;margin-left: 5px;text-align: center;">*</span></label> 
						<label class="input">
							<input type="number" ng-model="warehouse.warehouseCapacity"
							name="warehouseCapacity" ng-readonly="isNotEdit" required ng-change="change()" validCapacity=true
							oninput="if(value.length>8) value=value.slice(0,8)" />
						</label>
					</section>
<!-- 					<section class="col col-4"> -->
<!-- 						<label class="label">货位使用状态</label> <label class="select"> -->
<!-- 							<select ng-model="warehouse.warehouseStatus" ng-disabled="true" placeholder="空仓" -->
<!-- 								ng-options="enum.enumid as enum.enumname for enum in dicDataList[1055]" -->
<!-- 								class="form-control"> -->
<!-- 								<option value="">空仓</option> -->
<!-- 							</select> -->
<!-- 						</label> -->
<!-- 					</section> -->
					<section class="col col-8">
						<label class="label">货位图片</label>
						<div class="input input-file">
				            <span class="button">
				            	<input type="file" nv-file-select="" uploader="uploader" accept="image/*">
				                	浏览
				            </span><input type="text" name="wareImg" ng-model="warehouse.wareImg" placeholder="" readonly="">
				        </div>
					</section>
				</div>
				<section>
					<label class="label">备注</label> <label class="textarea"> <textarea
							rows="5" ng-model="warehouse.remark" name="remark" ng-disabled="isNotEdit"
							oninput="if(value.length>200) value=value.slice(0,200)"></textarea>
					</label>
				</section>
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-click="save()" type="button" ng-hide="isNotEdit"
			class="btn btn-primary">提交</button>
		<button ng-click="cancel()" class="btn btn-default"
			data-dismiss="modal">取消</button>
	</div>
</div>