<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>质量追溯统计列表</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline no-footer">
                                <div class="dt-toolbar">
                                    <div class="col-xs-12 col-sm-10">
                                        <!--<label>
                                            <a class="btn btn-primary btn-sm" ng-click="returnHomePage()"> <i class="fa fa-reply"></i>返&nbsp;回</a>&nbsp;
                                        </label>&emsp;-->
                                        <div class="form-group">
                                            <label> 仓房名称:&emsp;
                                                <select ng-model="searchCondition.storehouseId" class="form-control input-sm"
                                                        ng-options="store.storehouseId as store.storehouseName for store in storelist"
                                                        ng-change="loadWare()">
                                                    <option value="">请选择</option>
                                                </select>&emsp;
                                            </label>
                                            <!--质量检查类型:0:初检 1：验收 2：春秋普查 3：出库检验 4：日常检验 5：第三方检查-->
                                            <label class="select"> 检查类型:&emsp;
                                                <select class="form-control input-sm" name="checkType" ng-model="searchCondition.checkType">
                                                    <option value="">--请选择--</option>
                                                    <option value="0">初检</option>
                                                    <option value="1">验收</option>
                                                    <option value="2">春秋普查</option>
                                                    <option value="3">出库检验</option>
                                                    <option value="4">日常检验</option>
                                                    <option value="5">第三方检查</option>
                                                </select>&emsp;
                                            </label>
                                            <a class="btn btn-default btn-sm" ng-click="loadData()">
                                                <i class="fa fa-search"></i>&nbsp;查&nbsp;询</a>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 col-xs-6 hidden-xs">
                                        <div class="dataTables_length">
                                            <label>每页显示 <select ng-model="pageInfo.pageSize" ng-change="loadData(pageInfo.pageNum=1)"
                                                                ng-options="num as num for num in [1,10,25,50,100]"
                                                                class="form-control input-sm"></select> 条
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <table class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th data-hide="phone">序号</th>
                                        <th data-class="expand">仓房名称</th>
                                        <th data-class="expand">货位名称</th>
                                        <th data-class="expand">检查类型</th>
                                        <th data-class="expand">储粮性质</th>
                                        <th data-class="expand">粮食品种</th>
                                        <th data-hide="phone">检验人</th>
                                        <th data-hide="phone,tablet">检验结果</th>
                                        <th data-hide="phone,tablet">检查日期</th>
                                        <th data-hide="phone,tablet"> 操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="qualitycheck in pageInfo.list">
                                        <td>{{$index + 1}}</td>
                                        <td>{{qualitycheck.storehouseName}}</td>
                                        <td>{{qualitycheck.wareHouseName}}</td>
                                        <!--质量检查类型:0:初检 1：验收 2：春秋普查 3：出库检验 4：日常检验 5：第三方检查-->
                                        <td>
                                            <span ng-if="qualitycheck.type=='0'">初检</span>
                                            <span ng-if="qualitycheck.type=='1'">验收</span>
                                            <span ng-if="qualitycheck.type=='2'">春秋普查</span>
                                            <span ng-if="qualitycheck.type=='3'">出库检验</span>
                                            <span ng-if="qualitycheck.type=='4'">日常检验</span>
                                            <span ng-if="qualitycheck.type=='5'">第三方检查</span>
                                        </td>
                                        <td>{{dicData[qualitycheck.quality]}}</td>
                                        <td>{{dicData[qualitycheck.subType]}}</td>
                                        <td>{{qualitycheck.checker}}</td>
                                        <td >
                                            <span ng-if="qualitycheck.checkResult=='0'">合格</span>
                                            <span ng-if="qualitycheck.checkResult=='1'">不合格</span>
                                        </td>

                                        <td>{{qualitycheck.checkTime | date:'yyyy-MM-dd'}}</td>
                                        <td>
                                            <!--<a  href-void ng-click="showViewDetail(qualitycheck.id)"><i class="fa fa-info-circle"></i>查看</a>&nbsp;&nbsp;-->
                                            <div ng-switch="{{qualitycheck.type}}">
                                                <div ng-switch-when="0"><!--初检-->
                                                    <a href-void ng-click="showViewFck(qualitycheck.id)"><i class="fa fa-info-circle"></i>查看&nbsp;</a>
                                                </div>
                                                <div ng-switch-when="1"><!--验收-->
                                                    <a href-void ng-click="showViewAck(qualitycheck.id)"><i class="fa fa-info-circle"></i>查看&nbsp;</a>
                                                </div>
                                                <div ng-switch-when="2"><!--春秋普查-->
                                                    <a href-void ng-click="showViewSpr(qualitycheck.id)"><i class="fa fa-info-circle"></i>查看&nbsp;</a>
                                                </div>
                                                <div ng-switch-when="3"><!--出库检验-->
                                                    <a href-void ng-click="showViewOut(qualitycheck.id)"><i class="fa fa-info-circle"></i>查看&nbsp;</a>
                                                </div>
                                                <div ng-switch-when="4"><!--日常检验-->
                                                    <a href-void ng-click="showViewDak(qualitycheck.id)"><i class="fa fa-info-circle"></i>查看&nbsp;</a>
                                                </div>
                                                <div ng-switch-when="5"><!--第三方检查-->
                                                    <a href-void ng-click="showViewTrk(qualitycheck.id)"><i class="fa fa-info-circle"></i>查看&nbsp;</a>
                                                </div>
                                                <div ng-switch-default>{{qualitycheck.type}}</div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                                <div smart-include="app/layout/partials/page.tpl.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

