<!-- MAIN CONTENT -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            &times;
        </button>
        <h4 class="modal-title">设备操作详情</h4>
    </div>
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="form-grid-widget"
                     data-widget-colorbutton="false" data-widget-editbutton="false"
                     data-widget-custombutton="false">
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form id="basicStorehouseView-form" class="smart-form ng-pristine ng-valid"
                                  data-validator-option="validateOptions" novalidate="novalidate">
                                <table class="table table-striped table-bordered table-hover" width="100%">
                                    <fieldset>
                                        <div class="row" ng-hide="isAdd">
                                            <section class="col col-3">
                                                <label class="label">仓房名称:&emsp;</label>
                                                <label class="select">
                                                    <select ng-model="device.vCfCode" name="vCfCode"
                                                            ng-options="store.storehouseCode as store.storehouseName for store in storelist"
                                                            ng-disabled="true" class="form-control"
                                                            required>
                                                        <option value="">--请选择--</option>
                                                    </select>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">作业计划编码:&emsp;</label>
                                                <label class="input">
                                                    <input type="text" maxlength="20"
                                                           ng-model="device.operationId"
                                                           ng-disabled="true"
                                                           name="operationId" required>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">设备名称:&emsp;</label>
                                                <label class="input">
                                                    <input type="text" maxlength="5"
                                                           ng-model="device.vDevName"
                                                           ng-disabled="true"
                                                           name="vDevName" required>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">设备类型:</label> <label class="input">
                                                <input type="text" name="vDeviceCode"
                                                       ng-model="vDeviceCode" ng-disabled="true">
                                            </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">通风模式:</label> <label class="input">
                                                <input type="text" name="vPattern"
                                                       ng-model="vPattern" ng-disabled="true">
                                            </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">开始时间:</label> <label class="input">
                                                <input type="text" name="vStartTime"
                                                       ng-model="device.vStartTime" ng-disabled="true">
                                            </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">结束时间:</label> <label class="input">
                                                <input type="text" name="vEndTime"
                                                       ng-model="device.vEndTime" ng-disabled="true">
                                            </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">操作类别:</label>
                                                <label class="select">
                                                    <label class="select">
                                                        <select ng-model="device.vDistinguishState" name="vDistinguishState" ng-disabled="true"
                                                                ng-options="x.id as x.name for x in [{id:0,name:'通风'},{id:1,name:'熏蒸'}]">
                                                            <option value="" selected="" disabled="">--请选择--</option>
                                                        </select>
                                                    </label>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">设备状态:</label>
                                                <label class="select">
                                                    <label class="select">
                                                        <select ng-model="device.vState" name="vState" ng-disabled="isNotEdit"
                                                                ng-options="x.id as x.name for x in [{id:0,name:'关闭'},{id:1,name:'打开'},{id:2,name:'反转'},{id:3,name:'停止'}]">
                                                            <option value="" selected="" disabled="">--请选择--</option>
                                                        </select>
                                                    </label>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">创建人:</label> <label class="input">
                                                <input type="text" name="vUpdatePerson"
                                                       ng-model="device.vUpdatePerson" ng-disabled="true">
                                            </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">创建时间:</label> <label class="input">
                                                <input type="text" name="vUpdateTime"
                                                       ng-model="device.vUpdateTime" ng-disabled="true">
                                            </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
