<div  id="content">
    <section id="widget-grid" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget id="form-grid-widget"
                    data-widget-colorbutton="false" data-widget-editbutton="false"
                    data-widget-custombutton="false">
                    <div>
                        <div class="widget-body no-padding">
                            <form id="customerBadrecord-form" class="smart-form ng-pristine ng-valid" data-validator-option="validateOptions" novalidate="novalidate">
                                <header>客户不良记录详情</header>
                                
                                <fieldset>
									<div class="row">
										<section class="col col-sm-12">
											<label class="label txt-bg-red">客户姓名</label> 
											<label class="input"> 
												{{customerBadrecord.name}}
											</label>
										</section>
									</div>
                                    
                                    
									<div class="row">
										<section class="col col-6">
											<label class="label">发生日期</label> 
											<label class="input"> 
												<input type="text" ng-model="customerBadrecord.happenDate" name="happenDate" class="form-control datepicker" data-smart-datepicker 
												ng-readonly="true" ng-disabled="isNotEdit">
											</label>
										</section>
										<section class="col col-6">
											<label class="label">涉粮数量</label> 
											<label class="input">
						                    	<input type="text" ng-model="customerBadrecord.foodAmount" name="foodAmount" placeholder="" required="required" >
											</label>
										</section>
									</div>
									<div class="row">
										<section class="col col-6">
											<label class="label">涉及金额</label> 
											<label class="input"> 
						                    	<input type="text" ng-model="customerBadrecord.moneyAmount" name="moneyAmount" placeholder="" required="required" >
											</label>
										</section>
										<section class="col col-6">
											<label class="label">记录类型</label> 
											<label class="input">
						                    	<input type="text" ng-model="customerBadrecord.recordType" name="recordType" placeholder="" required="required" >
											</label>
										</section>
									</div>
									
									<div class="row">
										<section class="col col-6">
											<label class="label">描述</label> 
											<label class="textarea"> 
						                		<textarea ng-model="customerBadrecord.recordInfo" rows="3" name="recordInfo" placeholder=""></textarea>
											</label>
										</section>
									</div>
                                </fieldset>
                                
                                
                                


                                <div class="form-actions">
                                    <footer class="text-align-center">
                                        <button type="button" class="btn btn-default" ng-click="retList()">取消</button>
                                        <button type="button" class="btn btn-primary" ng-hide="isNotEdit" ng-click="save()">保存</button>
                                    </footer>
                                </div>
                            </form>
                        </div>
                    </div>
            </article>
        </div>
    </section>
</div>

