<div id="content" style=" border-width:5px; margin-left:2%;position:relative;margin-right:2%;">
    <section id="widget-grid" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget id="form-grid-widget"
                    data-widget-colorbutton="false" data-widget-editbutton="false"
                    data-widget-custombutton="false">
                    <div>
                        <div class="widget-body no-padding">
                            <form id="plan-form" class="smart-form ng-pristine ng-valid" data-validator-option="validateOptions" novalidate="novalidate" style=" border-width:5px; margin-left:2%;position:relative;margin-right:2%;">
                                <header>
									<a href-void class="btn btn-default btn-xs" ng-click="retList()">
										<i class="fa fa-angle-left"></i>&nbsp;返回&nbsp;
									</a>
									&nbsp;<strong>计划详情</strong>
									<span class="pull-right font-xs">带*的部分必须填写</span>
								</header>
								
                                <table style="width:70%; border-width:5px; margin-left:15%;position:relative;margin-right:15%;">
                                <fieldset>
                                	<table class="table table-striped table-bordered table-hover" width="100%">
                                		<!--第一个tr开始 -->
										<tr>
											<th rowspan="5" width='10%'>
												<label class="label" style="margin-top: 50%;text-align: center;">基本信息</label>
											</th>
											<th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">企业名称<span style="color: red;margin-left: 5px;text-align: center;">*</span></label>
											</th>
											<th width='20%'>
												<section>
		                                            <label class="input"> 
		                                                <input class="form-control" type="text" ng-model="plan.planCustomer" ng-readonly="isNotEdit" name="planCustomer"
		                                                required>
		                                            </label>
		                                        </section>
											</th>
											<th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">计划编号<span style="color: red;">*</span></label>
											</th>
											<th width='20%'>
												<section>
		                                            <label class="input"> 
		                                                <input class="form-control" type="text" ng-model="plan.planNumber" name="planNumber" 
		                                                ng-readonly="true"  placeholder="{{ planNumber.msg }}" 
		                                                required>
		                                                <!-- <b class="tooltip tooltip-bottom-right">2-20位字母、数字和下划线</b> -->
		                                            </label>
		                                        </section>
											</th>
											<th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">计划名称<span style="color: red;margin-left: 5px;text-align: center;">*</span></label>
											</th>
											<th width='20%'>
												<section>
		                                            <label class="input"> 
		                                                <input class="form-control" type="text" ng-model="plan.planTitle" ng-readonly="isNotEdit" name="planTitle"
		                                                required>
		                                            </label>
		                                        </section>
											</th>
										</tr>
										<!--第一个tr结束 -->
										<!--第二个tr开始 -->
										<tr>
										   <th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">计划文号<span style="color: red;">*</span></label>
											</th>
											<th width='20%'>
												<section>
		                                            <label class="input"> 
		                                                <input class="form-control" type="text" ng-model="plan.referenceNumber" ng-readonly="isNotEdit" name="referenceNumber" required>
		                                            </label>
		                                        </section>
											</th>
											<th>
												<label label class="label" style="margin-top: 9px;text-align: center;">计划类型<span style="color: red;">*</span></label>
											</th>
											<th>
												<section>
		                                            <label class="select"> 
		                                                <select ng-model="plan.executeType" name="executeType" ng-disabled="isNotEdit"  
		                                                ng-options="enum.enumid as enum.enumname for enum in dicDataList[1050]" required >
		                                                    <option value="">--请选择--</option>
		                                                </select><i></i>
		                                            </label>
		                                        </section>
											</th>
											<th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">计划年度<span style="color: red;">*</span></label>
											</th>
											<th width='20%'>
												<section>
			                                        <label class="select">
								                        <select ng-model="plan.jhnd" ng-disabled="isNotEdit" name="jhnd" 
								                         ng-options="enum.enumid as enum.enumname for enum in dicDataList[1004]"  required>
								                         <option value="">--请选择--</option><i></i>
								                         </select><i></i>
	                         						</label>
		                                        </section>
											</th>
										</tr>
										<!--第二个tr结束 -->
										<!--第三个tr开始 -->
										<tr>
										<th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">计划开始日期<span style="color: red;">*</span></label>
											</th>
											<th width='20%'>
												<section>
		                                            <label class="input"> 
		                                            	<input type="text" ng-model="plan.kszxrq" name="kszxrq" class="form-control datepicker"
		                                                data-smart-datepicker ng-readonly="true" ng-disabled="isNotEdit" required>
		                                            </label>
		                                        </section>
											</th>
											<th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">计划截止日期<span style="color: red;">*</span></label>
											</th>
											<th width='20%'>
												<section>
		                                            <label class="input"> 
		                                            	<input type="text" ng-model="plan.jzzxrq" name="jzzxrq" class="form-control datepicker"
		                                                data-smart-datepicker ng-readonly="true" ng-disabled="isNotEdit" required>
		                                            </label>
		                                        </section>
											</th>
											<th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">申请人</label>
											</th>
											<th width='20%'>
												<section>
		                                            <label class="input" style="margin-top: 9px;"> 
		                                            	{{ plan.creater }}
		                                            </label>
		                                        </section>
											</th>
										</tr>
										<tr>
											<th width='10%'>
												<label class="label" style="margin-top: 9px;text-align: center;">申请部门</label>
											</th>
											<th width='20%'>
												<section>
		                                            <label class="input"> 
		                                                <input class="form-control" type="text" ng-model="plan.createUnit" ng-readonly="isNotEdit" name="createUnit">
		                                            </label>
		                                        </section>
											</th>
											<th>
												<label label class="label" style="margin-top: 9px;text-align: center;">创建时间</label>
											</th>
											<th>
												<section>
		                                            <label class="input" style="margin-top: 9px;"> 
		                                            	{{ plan.createTime | date:'yyyy-MM-dd HH:mm:ss' }}
		                                            </label>
		                                        </section>
											</th>
											<th></th>
											<th></th>
										</tr>
									</table>
                               </fieldset>
                                
                                <header>
                                	<h3>
                                		<strong>明细信息</strong>
                               		</h3>
                          		</header>
                          		<fieldset>
                                	<table class="table table-striped table-bordered table-hover"  >
										<thead>
												<tr>
													<th data-hide="expand" align="center" width="4%">序号</th>
													<th data-class="expand" align="center" width="14%" ng-show="plan.executeType!=3154">承储库点</th>
													<th data-class="expand" align="center" width="6%"  ng-show="plan.executeType!=3154">仓房名称</th>
													<th data-class="expand" align="center" width="6%"  ng-show="plan.executeType!=3154">货位名称</th>
													<th data-hide="expand" align="center" width="10%">粮油品种</th>
													<th data-hide="expand" align="center" width="14%">粮油明细品种</th>
													<th data-hide="expand" align="center" width="13%">粮油性质</th>
													<th data-hide="expand" align="center" width="6%">粮食等级</th>
													<th data-hide="expand" align="center" width="6%">生产年限</th>
													<th data-hide="expand" align="center" width="8%">入库时间</th>
													<th data-hide="expand" align="center" width="6%">粮食产地</th>
													<!-- <th data-hide="expand" align="center" width="9%" ng-hide="isNotEdit">操作</th> -->
												</tr>
												</thead>

												<tbody>
												<tr ng-repeat="detailInfo in addedDetail">
													<td>{{$index + 1}}</td>
													<td ng-show="plan.executeType!=3154">{{orgInfoAllData[detailInfo.state]}}</td>
													<td ng-show="plan.executeType!=3154">{{detailInfo.houseName}}<input type="hidden" ng-model="detailInfo.warehouseId" ng-readonly="true"></td>
													<td ng-show="plan.executeType!=3154">{{detailInfo.warehouseName}}<input type="hidden" ng-model="detailInfo.warehouseId" ng-readonly="true"></td>
													<td>{{dicData[detailInfo.grainKind]}}</td>
													<td>{{dicData[detailInfo.grainDetailKind]}}</td>
													<td>{{dicData[detailInfo.grainAttribute]}}</td>
													<td>{{dicData[detailInfo.grainGrade]}}</td>
													<td>{{dicData[detailInfo.grainAnnual]}}</td>
													<td>{{detailInfo.inputTime | date:'yyyy-MM-dd'}}</td>
													<td>{{dicData[detailInfo.grainProducingArea]}}</td>
												</tr>
												</tbody>
		                             </table>
                          		</fieldset>
                                
                                <header>
                                	<h3>
                                		<strong>购销信息</strong>
                               		</h3>
                          		</header>
                          		<fieldset>
                                	<table class="table table-striped table-bordered table-hover"  >
										<thead>
												<tr>
													<th data-hide="expand" align="center" width="4%">序号</th>
													<th data-class="expand" align="center" ng-show="plan.executeType!=3154">承储库点</th>
													<th data-class="expand" align="center" ng-show="plan.executeType!=3154">仓房名称</th>
													<th data-class="expand" align="center" ng-show="plan.executeType!=3154">货位名称</th>
													<th data-hide="expand" align="center">粮油品种</th>
													<th data-hide="expand" align="center">数量(公斤)</th>
													<th data-hide="expand" align="center">单价(元/公斤)</th>
													<th data-hide="expand" align="center">总价(元)</th>
												</tr>
												</thead>

												<tbody>
												<tr ng-repeat="detailInfo in addedDetail">
													<td>{{$index + 1}}</td>
													<td ng-show="plan.executeType!=3154">{{depotInfo.orgName}}</td>
													<td ng-show="plan.executeType!=3154">{{detailInfo.houseName}}<input type="hidden" ng-model="detailInfo.warehouseId" ng-readonly="true"></td>
													<td ng-show="plan.executeType!=3154">{{detailInfo.warehouseName}}<input type="hidden" ng-model="detailInfo.warehouseId" ng-readonly="true"></td>
													<td>{{dicData[detailInfo.grainKind]}}</td>
													<td>{{detailInfo.count}}</td>
													<td>{{detailInfo.price}}</td>
													<td>{{detailInfo.detailTotalPrice}}</td>
												</tr>
												</tbody>
		                             </table>
                          		</fieldset>
                          		
                          		<fieldset>
                          			<table>
                          			
	                          			<tr>
	                          				<th>
	                          					<label class="label" style="margin-top: 9px;text-align: center;">计划总数量(公斤)：</label>
	                          				</th>
	                          				<th>	
	                          					<section>
		                                            <label class="input" style="margin-top:8px"> 
		                                                <input class="form-control" type="text" ng-model="plan.totalAmount" ng-readonly="true" name="totalAmount">
		                                            </label>
		                                        </section>
	                          				</th>
	                          				<th>
	                          					<label class="label" style="margin-top: 9px;text-align: center;margin-left:88px;">预计总金额(元)：</label>
	                          				</th>
	                          				<th>	
	                          					<section>
		                                            <label class="input" style="margin-top:8px"> 
		                                                <input class="form-control" type="text" ng-model="plan.totalPrice" ng-readonly="true" name="totalPrice">
		                                            </label>
		                                        </section>
	                          				</th>
	                          				<th>
	                          					<label class="label" style="margin-top: 9px;text-align: center;margin-left:88px;">下发轮换总数量(公斤)：</label>
	                          				</th>
	                          				<th>	
	                          					<section>
		                                            <label class="input" style="margin-top:8px"> 
		                                                <input class="form-control" type="text" ng-model="plan.totalQuantity" ng-readonly="true" name="totalQuantity">
		                                            </label>
		                                        </section>
	                          				</th>
	                          			</tr>
	                          			
                          		   </table>
                          			<table width="1150px">
                          				<tr>
	                          				<th>
												<label class="label" style="font-size:18px"><strong>计划描述：</strong></label>
												<label class="input">
													<input type="text" ng-model="plan.planDesc" name="planDesc" ng-readonly="isNotEdit">
												</label>
	                          				</th>
	                          			</tr>
                          			</table>&nbsp;&nbsp;
                          			<table width="1150px">
                          				<tr>
	                          				<th>
												<label class="label" style="font-size:18px"><strong>省级备注：</strong></label>
												<label class="input">
													<input type="text" ng-model="plan.provinceRemark" name="provinceRemark" ng-readonly="isNotEdit">
												</label>
	                          				</th>
	                          			</tr>
                          			</table>&nbsp;&nbsp;
                          			<table width="1150px">
                          				<tr>
	                          				<th>
												<label class="label" style="font-size:18px"><strong>企业级备注：</strong></label>
												<label class="input">
													<input type="text" ng-model="plan.enterpriseRemark" name="enterpriseRemark" ng-readonly="isNotEdit">
												</label>
	                          				</th>
	                          			</tr>
                          			</table>
                                </fieldset>
                                
					            <header>
                                	<h3>
                                		<strong>附件信息</strong>
                                		<!-- <a href-void class="btn btn-primary" ng-hide="isNotEdit" ng-click="addFile()"> <i class="fa fa-plus"></i>文件 </a> -->
                               		</h3>
                          		</header>
					            <fieldset>
						            
                                	<table ng-hide="isNotEdit" class="table table-striped table-bordered table-hover" ng-repeat="linenumber in linenumbers" ng-click="clickFileInput(linenumber)" >
		                                <!--第四3个tr开始 -->
										<tr>
											<th width='10%' >
												<label class="label" style="margin-top: 9px;text-align: center;">附件</label>
											</th>
											<th colspan="4">
												<section>
									            	<div class="input input-file" style="margin-top: 9px; text-align: center; margin-right: 22px;">
											            <span class="button" >
											            	<input type="file" nv-file-select="" uploader="uploader" accept="*" options="id" id="fileInputId{{linenumber}}"
											            		onchange="if (this.value != '')this.parentNode.nextSibling.value = this.value">
											                	上传
											            </span><input type="text" name="imgUrl" placeholder="" readonly="">
										        	</div>
									            </section>
											</th>
											<th width='10%' class="text-align-center">
													<div class="input input-file" style="margin-top: 9px; text-align: center; margin-right: 16px;">
														<span class="button"  ng-click="showFileByLinenumber(linenumber)">预览
											            </span>
													</div>
													<!-- <button type="button" style="margin-top: 9px; text-align: center; margin-right: 22px;" class="btn btn-primary" ng-click="deleteFileByLinenumber(linenumber)">删除
													</button> -->
											</th>
											
											<th width='10%'>
	                                                <!-- <span class="button" style="margin-top: 9px; text-align: center; margin-right: 22px;" ng-click="deleteFileByLinenumber(linenumber)">删除
										            </span> -->
										            <div class="input input-file" style="margin-top: 9px; text-align: center; margin-right: 16px;">
														<span class="button"  ng-click="deleteFileByLinenumber(linenumber)">删除
											            </span>
													</div>
											</th>
											
										</tr>
										<!--第四3个tr结束 -->
		                             </table>
                                
                                	<!--回显文件的表格  -->
                                	
                                	<table class="table table-striped table-bordered table-hover" ng-repeat="file in fileList" >
		                                <!--第四3个tr开始 -->
										<tr>
											<th width='10%' >
												<label class="label" style="margin-top: 9px;text-align: center;">附件</label>
											</th>
											<th colspan="5">
												<section >
										            <input class="form-control" type="text" ng-model="file.originalFileName" readonly="">
		                                		</section>
											</th>
											<th width='10%' >
												<section style="margin-top: 9px; text-align: center; margin-right: 22px;">
							                        <a class="btn btn-default" href-void ng-click="download(file.filePath, file.originalFileName)"><i class="fa fa-download"></i>下载</a>
		                                		</section>
											</th>
											
											<th width='10%'>
												<section style="margin-top: 9px; text-align: center; margin-right: 22px;">
							                        <a class="btn btn-default" href-void ng-click="showFile(file.filePath)"><i class="fa fa-download"></i>预览</a>
		                                		</section>
											</th>
											
										</tr>
										<!--第四3个tr结束 -->
		                             </table>
		                             </fieldset>
		                             </table>
		                             <div ng-include="'app/act/util/historyList-audit.html'"></div>
                            </form>
                        </div>
                    </div>
            </article>
        </div>
    </section>
   	<form id="download-form" method="post" target="_blank" style=" border-width:5px; margin-left:2%;position:relative;margin-right:2%;">
		<input type="hidden" name="filePath" id="filePath">
		<input type="hidden" name="originalFileName" id="originalFileName">
		<input type="hidden" name="type" id="type">
	</form>
</div>

