<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">


        <div class="row">
            <article class="col-sm-12">

                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>计划通过列表</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline no-footer">
                            <div class="dt-toolbar">
                                <div class="col-xs-12 col-sm-10">
                                    <div class="form-group">
                                    	<label> 计划编号:  
                                    		<input type="search" class="form-control input-sm" ng-model="searchCondition.planNumber"/>
                                       	</label>&emsp;
                                       	<!-- <label>
                                       		<select type="search" class="form-control input-sm" ng-model="searchCondition.grainKind"
	                                                ng-options="enum.enumid as enum.enumname for enum in dicDataList[1061]">
	                                                	<option value="">--粮食品种--</option>
	                                    	</select>
                                        </label>&emsp; -->
                                        <label><a class="btn btn-default btn-sm" ng-click="loadData()">
												<i class="fa fa-search"></i>&nbsp;查&nbsp;询
											</a>
										</label>
											<!-- <label><a class="btn btn-default btn-sm" ng-click="clearConditions()">
												<i class="fa fa-trash-o"></i>&nbsp;清&nbsp;空
											</a>
                                    		</label> -->
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12 hidden-xs">
                                    <div class="dataTables_length">
											<label>每页显示 <select ng-model="pageInfo.pageSize" ng-change="loadData(pageInfo.pageNum=1)"
																ng-options="num as num for num in [1,10,25,50,100]"
																class="form-control input-sm"></select> 条
											</label>
									</div>
                                </div>
                            </div>

                        <table class="table table-striped table-bordered table-hover" width="100%">
	                        <thead>
		                        <tr>
		                            <th>计划编号</th>
		                            <th>计划文号</th>
		                            <th>计划执行类型</th>
		                            <th>要求数量(公斤)</th>
		                            <th>审批结束日期</th>
		                            <th>是否启用</th>
		                            <th>操作</th>
		                        </tr>
	                        </thead>
                        
                        <tbody>
                            <tr ng-repeat="plan in pageInfo.list">
                                <td>{{plan.planNumber}}</td>
                                <td>{{plan.referenceNumber}}</td>
                                <td>{{ dicData[plan.executeType] }}</td>
                                <td>
		                                	<span ng-if="plan.executeType==3155">{{ plan.outAmount }}</span>
		                                	<span ng-if="plan.executeType==3154 || plan.executeType==3156">{{ plan.inAmount }}</span>
		                        </td>
                                <td>{{ plan.agreeTime | date:'yyyy-MM-dd' }}</td>
                                <td><div ng-switch="{{ plan.inApplication }}">
	                                    <div ng-switch-when="1"><span style='color:green;'>启用</span></div>
	                                    <div ng-switch-when="2"><span>执行完毕</span></div>
	                                    <div ng-switch-when="3"><span style='color:red;'>终止</span></div>
	                                    <div ng-switch-when="4"><span style='color:red;'>暂停</span></div>
                                    </div>
                                </td>
                                <td>
                                    <span ng-switch="{{ plan.inApplication }}">
                                        <a href-void ng-click="viewAuditPage(plan.id, plan.processInstanceId, plan.taskId, plan.auditId)"><i class="fa fa-info-circle"></i>查看&nbsp;</a>
                                        <span ng-switch-when="4">
                                            <a has-permission="653" href-void ng-click="application(plan.id)"><i class="fa fa-play"></i>启用&nbsp;</a>
	                                    	<a has-permission="652" href-void ng-click="finish(plan.id)"><i class="fa fa-times"></i>终止</a>
                                        </span>
                                        <span ng-switch-when="1">
                                           <a has-permission="651" href-void ng-click="discontinue(plan.id)"><i class="fa fa-pause"></i>暂停&nbsp;</a>
	                                    	<a has-permission="652" href-void ng-click="finish(plan.id)"><i class="fa fa-times"></i>终止</a>
                                        </span>
                                    <span/>
                                </td>
                            </tr>
                        </tbody>

                        </table>
						<div smart-include="app/layout/partials/page.tpl.html"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
