<!-- MAIN CONTENT -->
<div id="content">
	<!-- widget grid -->
	<section widget-grid id="widget-grid">

		<div class="row">
			<article class="col-sm-12">

				<div jarvis-widget id="standard-datatable-widget"
					data-widget-color="darken" data-widget-editbutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i>
						</span>
						<h2>仓房列表</h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<div id="DataTables_Table_1_wrapper"
								class="dataTables_wrapper form-inline no-footer">
								<div class="dt-toolbar">
									<div class="col-xs-12 col-sm-9">
										<div class="form-group">
											<label> 仓房名称:&emsp;
												<select ng-model="store.storehouseId" class="form-control input-sm"
														ng-options="store.storehouseId as store.storehouseName for store in storehouseList">
													<option value="">请选择</option>
												</select>&emsp;
											</label>
											<a class="btn btn-default btn-sm" ng-click="loadData()">
												<i class="fa fa-search"></i>&nbsp;查&nbsp;询
											</a>&emsp;
										</div>
									</div>
									<div class="col-sm-3 col-xs-6 hidden-xs">
										<div class="dataTables_length">
											<label>每页显示 <select ng-model="pageInfo.pageSize" ng-change="loadData(pageInfo.pageNum=1)"
												ng-options="num as num for num in [10,25,50,100]"
												class="form-control input-sm"></select> 条
											</label>
										</div>
									</div>
								</div>

								<table class="table table-striped table-bordered table-hover"
									width="100%">
									<thead>
										<tr>
											<th data-class="expand">仓房编号</th>
											<th data-class="expand">仓房名称</th>
											<th data-hide="expand">仓房类型</th>
											<th data-hide="expand">设计仓容(吨)</th>
											<th data-hide="expand">实际仓容(吨)</th>
											<th data-hide="expand">保管员</th>
											<th data-hide="expand">仓房状态</th>
											<th data-hide="expand">交付使用日期</th>
											<th data-hide="expand">操作</th>
										</tr>
									</thead>

									<tbody>
										<tr ng-repeat="storehouse in pageInfo.list">
											<td>{{storehouse.storehouseCode}}</td>
											<td>{{storehouse.storehouseName}}</td>
											<td>
												<span ng-if="storehouse.storehouseTypeMx!=null">{{dicData[storehouse.storehouseTypeMx]}}</span>
												<span ng-if="storehouse.storehouseTypeMx==null">{{dicData[storehouse.storehouseType]}}</span>
											</td>
											<td>{{storehouse.designCapacity}}</td>
											<td>{{storehouse.actualCapacity}}</td>
											<td>{{storehouse.dutystoreman}}</td>
											<td>{{dicData[storehouse.storehouseState]}}</td>
											<td>{{storehouse.usedate | date :'yyyy-MM-dd'}}</td>
											<td>
											    <a href-void ng-click="add(storehouse.storehouseId)"><i class="fa fa-info-circle"></i>查看</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div smart-include="app/layout/partials/page.tpl.html"></div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>
</div>
