<!-- MAIN CONTENT -->
<div id="content">
    <section id="widget-grid" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget id="form-grid-widget"
                    data-widget-colorbutton="false" data-widget-editbutton="false"
                    data-widget-custombutton="false">
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form id="drugStorage-form" class="smart-form ng-pristine ng-valid" data-validator-option="validateOptions" novalidate="novalidate">
                                <header>
									<a href-void class="btn btn-default btn-xs" ng-click="retList()">
										<i class="fa fa-angle-left"></i>&nbsp;返回&nbsp;
									</a>
									&nbsp;<strong>药剂入库登记详情</strong>
									<span class="pull-right font-xs">带*的部分必须填写</span>
								</header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label txt-bg-red">药剂编号<span style="color: red;">*</span></label> 
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="drugStorage.drugNumber" name="drugNumber"
                                                readOnlyButValid ng-disabled="isNotEdit"
                                                ng-click="getDrugInfoList()" placeholder="请选择" required>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">药剂种类</label>
                                            <label class="select"> 
                                            	<select ng-model="drugStorage.drugKind" ng-disabled="true" name="drugKind" 
                                             	ng-options="enum.enumid as enum.enumname for enum in dicDataList[5498]" required >
                                             		<option value="">--请选择药剂编号--</option><i></i>
                                             	</select><i></i>
                                         	</label>
                                         </section>
                                         <section class="col col-4">
                                            <label class="label">药剂名称</label>
                                            <label class="select"> 
                                            	<select ng-model="drugStorage.drugName" ng-disabled="true" name="drugName" 
                                             	ng-options="enum.enumid as enum.enumname for enum in dicDataList[drugStorage.drugKind]" required >
                                             		<option value="">--请选择药剂编号--</option><i></i>
                                             	</select><i></i>
                                         	</label>
                                        </section>
                                    </div>
                                    
                                    
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">药剂形态</label>
                                            <label class="select"> 
                                            	<select ng-model="drugStorage.drugType" ng-disabled="true" name="drugType" 
                                             	ng-options="enum.enumid as enum.enumname for enum in dicDataList[5499]" required >
                                             		<option value="">--请选择药剂编号--</option><i></i>
                                             	</select><i></i>
                                         	</label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">药剂包装</label>
                                            <label class="select"> 
                                            	<select ng-model="drugStorage.drugPacking" ng-disabled="true" name="drugPacking" 
                                             	ng-options="enum.enumid as enum.enumname for enum in dicDataList[5508]" required >
                                             		<option value="">--请选择药剂编号--</option><i></i>
                                             	</select><i></i>
                                         	</label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">规格型号</label>
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="drugStorage.drugSpecification" ng-readonly="true" name="drugSpecification" 
                                                placeholder="请选择药剂编号" required>
                                            </label>
                                        </section>
                                    </div>
                                    
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">生产厂家<span style="color: red;">*</span></label> 
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="drugStorage.manufacturer" ng-readonly="isNotEdit" name="manufacturer" 
                                                required>
                                            </label>
                                        </section>
                                    </div>
                                    
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">生产日期<span style="color: red;">*</span></label> 
                                            <label class="input"> 
                                                <input type="text" ng-model="drugStorage.productionDate" name="productionDate" class="form-control datepicker" data-smart-datepicker
                                                readOnlyButValid ng-readonly="isNotEdit" ng-disabled="isNotEdit" ng-change="changeDate()"
                                                required>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">过期日期<span style="color: red;">*</span></label> 
                                            <label class="input">
                                            	<input type="text" ng-model="drugStorage.expireDate" name="expireDate" class="form-control datepicker" data-smart-datepicker
                                            	readOnlyButValid ng-readonly="isNotEdit" ng-disabled="isNotEdit" ng-change="changeDate()"
                                            	required>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">货架号<span style="color: red;">*</span></label>
                                            <label class="select">
												<select ng-model="drugStorage.shelfId" name="shelfId"
													ng-options="shelf.id as shelf.shelfName for shelf in drugShelfList.list"
													ng-disabled="isNotEdit" class="form-control"
													required>
													<option value="">--请选择--</option>
												</select>
											</label>
                                        </section>
                                    </div>
                                    
                                    
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">入库数量<span style="color: red;">*</span></label> 
                                            <label class="input"><!--ng-change="countMoneyQuantity()"-->
                                                <input class="form-control" type="text" ng-model="drugStorage.storageCount" ng-readonly="isNotEdit" name="storageCount"
                                                 validNumber="true" required>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">入库单价</label> 
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="drugStorage.storagePrice" ng-readonly="isNotEdit" name="storagePrice"
                                                ng-change="countMoneyQuantity()" validNumber="true">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">登记人</label>
                                            <label class="input">
                                                <input class="form-control" type="text" ng-model="drugStorage.controlMan" ng-readonly="true" name="controlMan">
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row" ng-hide="true">
                                        <section class="col col-4">
                                            <label class="label">入库时间</label> 
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="drugStorage.createTime" ng-readonly="true" name="createTime">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">入库粮库</label> 
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="drugStorage.createUnit" ng-readonly="true" name="createUnit">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">申请人</label> 
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="drugStorage.creater" ng-readonly="true" name="creater">
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>

                                <div><!--class="form-actions"-->
                                    <footer class="text-align-center">
                                        <button type="button" class="btn btn-default" ng-click="retList()">取消</button>
                                        <button type="button" class="btn btn-primary" ng-hide="isNotEdit" ng-click="save()">保存</button>
                                    </footer>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


