<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">
			&times;
		</button>
		<h4 class="modal-title" id="myModalLabel">选择普查</h4>
	</div>
	<div class="modal-body">
		<div>
			<div class="widget-body no-padding">
				<div id="DataTables_Table_1_wrapper" class="table-responsive" style="overflow:auto;">
					<table class="table table-striped table-bordered table-hover" width="100%">
						<thead>
						<tr>
							<th data-hide="phone">序号</th>
							<th data-class="expand">代储点名称</th>
							<th data-class="expand">粮库名称</th>
							<th data-class="expand">仓房名称</th>
							<th data-class="expand">货位名称</th>
							<th data-class="expand">检查类型</th>
							<th data-class="expand">储粮性质</th>
							<th data-class="expand">粮食品种</th>
							<th data-hide="phone,tablet">检验结果</th>
							<th data-hide="phone,tablet">检查日期</th>
							<th data-hide="phone,tablet"> 操作</th>
						</tr>
						</thead>

						<tbody>
						<tr ng-repeat="qualitycheck in pageInfo.list">
							<th align="center">{{$index + 1 + (pageInfo.pageNum-1) * pageInfo.pageSize}}</th>
							<td>{{qualitycheck.agentName}}</td>
							<td>{{qualitycheck.agentDepotName}}</td>
							<td>{{qualitycheck.storehouseName}}</td>
							<td>{{qualitycheck.warehouseName}}</td>
							<td>验收质检</td>
							<td>{{dicData[qualitycheck.quality]}}</td>
							<td>{{dicData[qualitycheck.subType]}}</td>
							<td >
								<span ng-if="qualitycheck.checkResult=='0'">合格</span>
								<span ng-if="qualitycheck.checkResult=='1'">不合格</span>
							</td>
							<td>{{qualitycheck.checkTime | date:'yyyy-MM-dd'}}</td>
							<td>
								<a has-permission="477" href-void ng-click="showAddSpr(qualitycheck.id,qualitycheck.houseId,qualitycheck.warehouseId)"><i class="fa fa-plus"></i>选择</a>
							</td>
						</tr>
						</tbody>

					</table>
					<div smart-include="app/layout/partials/page.tpl.html"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default"  ng-click="cancel()">
			取消
		</button>
	</div>
</div>
