<!-- MAIN CONTENT -->
<div id="content">
	<!-- widget grid -->
	<section widget-grid id="widget-grid">
		<div class="row">
			<article class="col-sm-12">
				<div jarvis-widget id="standard-datatable-widget"
					data-widget-color="darken" data-widget-editbutton="false">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i></span>
						<h2>仓储作业记录列表</h2>
					</header>
					<div>
						<div class="widget-body no-padding">
							<div id="DataTables_Table_1_wrapper"
								class="dataTables_wrapper form-inline no-footer">
								<div class="dt-toolbar">
									<div class="col-xs-12 col-sm-10">
										<!-- <div class="form-group">
											<a href-void class="btn btn-primary btn-sm" ng-click="editPage(0)">&nbsp;新&nbsp;增&nbsp;</a>&emsp;
											<label> 仓房名称：&emsp;
												<select ng-model="search.houseId" class="form-control input-sm"
														ng-options="store.storehouseId as store.storehouseName for store in storelist"
														ng-change="loadWare()">
													<option value="">请选择</option>
												</select>&emsp;
											</label>
										</div> -->
										<div class="form-group">
											<label>作业开始日期：<input style="width: 100px;" class="form-control" type="text" ng-model="search.startDate" name="searchStartDate" data-smart-datepicker>
												--&nbsp;<input style="width: 100px;" class="form-control" type="text" ng-model="search.endDate" name="searchEndDate" data-smart-datepicker>
												<a class="btn btn-default btn-sm" ng-click="loadData()"> <i class="fa fa-search"></i>&nbsp;查&nbsp;询</a>
											</label>
										</div>
									</div>

									<div class="col-sm-2 col-xs-2 hidden-xs">
										<div class="dataTables_length">
											<label>每页显示 <select ng-model="pageInfo.pageSize" ng-change="loadData()"
																ng-options="num as num for num in [10,25,50,100]"
																class="form-control input-sm"></select> 条
											</label>
										</div>
									</div>
								</div>

								<table class="table table-striped table-bordered table-hover"
									width="100%">
									<thead>
										<tr>
											<th data-class="expand">仓房名称</th>
											<th data-class="expand">作业编号</th>
											<th data-hide="expand">作业类型</th>
											<th data-hide="expand">作业开始时间</th>
											<th data-hide="expand">作业结束时间</th>
											<th data-hide="expand">操作人</th>
										</tr>
									</thead>

									<tbody>
										<tr ng-repeat="list in pageInfo.list">
											<td>
											     <p ng-if="storeHouseCodeObj[list.houseId].storehouseName==null">{{storehouseObj[list.houseId].storehouseName}}</p>
												 <p ng-if="storehouseObj[list.houseId].storehouseName==null">{{storeHouseCodeObj[list.houseId].storehouseName}}</p>
											</td>
											<td>{{list.taskCode}}</td>
											<td>{{list.type}}</td>
											<td>{{list.startTime | date :'yyyy-MM-dd HH:mm:ss'}}</td>
											<td>{{list.endTime | date :'yyyy-MM-dd HH:mm:ss'}}</td>
											<td>{{list.operator}}</td>
										</tr>
									</tbody>
								</table>
								<div smart-include="app/layout/partials/page.tpl.html"></div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>

	</section>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">计划</h4>
			</div>
			<div class="modal-body">

<!-- 				<div smart-include="app/basic/storehouse/views/Storehouse-edit.html"></div> -->

			</div>
			<div class="modal-footer">
				<button ng-click="save()" type="button" class="btn btn-primary">提交</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					取消</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
