<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">


        <div class="row">
            <article class="col-sm-12">

                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>粮食生命周期管理列表</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline no-footer">
                                <div class="dt-toolbar" ng-show="isShow=='0'">
                                    <div class="col-xs-12 col-sm-10">
                                        <div class="form-group">
                                            <label> 仓房名称:&emsp;
                                                <select ng-model="searchCondition.houseId" class="form-control input-sm"
                                                        ng-options="store.storehouseId as store.storehouseName for store in storelist"
                                                        ng-change="loadWare()">
                                                    <option value="">请选择</option>
                                                </select>&emsp;
                                            </label>
                                            <label> 货位名称:&emsp;
                                                <select ng-model="searchCondition.warehouseId" class="form-control input-sm"
                                                        ng-options="ware.warehouseId as ware.warehouseName for ware in warelist">
                                                    <option value="">请选择</option>
                                                </select>&emsp;
                                            </label>
                                            <a class="btn btn-default btn-sm"  ng-click="loadDataSelect()">
                                                <i class="fa fa-search"></i>&nbsp;查&nbsp;询</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2 hidden-xs">
                                        <div class="dataTables_length">
                                            <label>每页显示 <select ng-model="pageInfo.pageSize" ng-change="change_pageSize(pageInfo.pageSize)"
                                                                ng-options="num as num for num in [1,10,25,50,100]"
                                                                class="form-control input-sm"></select> 条
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="dt-toolbar" ng-show="isShow=='1'">
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="form-group">
                                            <a class="btn btn-primary btn-sm" style="margin:0px 0px 6px 0px" ui-sref="app.synth.identifyCode">
                                                <i class="fa fa-reply"></i>返&nbsp;回
                                            </a>&nbsp;
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>仓房名称</th>
                                        <th>货位名称</th>
                                        <th>粮油品种</th>
                                        <th>库存数量</th>
                                        <th>日期</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="numbermanage in pageInfo.list">
                                        <td>{{$index+1}}</td>
                                        <td>{{storehouseObj[numbermanage.ch].storehouseName}}</td>
                                        <td>{{warehouseObj[numbermanage.hwh].warehouseName}}</td>
                                        <td>{{ dicData[numbermanage.pz] }}</td>
                                        <td>{{ numbermanage.kcsl }}</td>
                                        <td>{{ numbermanage.rq | date:'yyyy/MM/dd'}}</td>
                                        <td>{{numbermanage.cjsj | date:'yyyy/MM/dd'}}</td>
                                        <td>
                                            <a href-void ng-click="showIncomeWarehouseDetail(numbermanage)">入库明细</a>
                                            <a href-void ng-click="showQualityCheckInfo(numbermanage)">质检信息</a>
                                            <a href-void ng-click="showGrainAnalysisInfo(numbermanage)">粮情信息</a>
<!--                                             <a href-void ng-click="showJobRecord(numbermanage)">作业记录</a> -->
                                            <a href-void ng-click="showOutWarehouseDetail(numbermanage)">出库明细</a>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                                <!--分页开始  -->
                                <div class="dt-toolbar-footer">
                                    <div class="col-sm-6 col-xs-12 hidden-xs">
                                        <div class="dataTables_info">
                                            显示 {{pageInfo.startRow}} - {{pageInfo.endRow}}条，共 {{pageInfo.total}}条
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="dataTables_paginate paging_simple_numbers">
                                            <ul class="pagination">
                                                <li ng-class="{true:'disabled'}[pageInfo.isFirstPage]">
                                                    <a href-void ng-click="go_pages('firstPage', pageInfo.pageNum, pageInfo.pageSize)">首页</a>
                                                </li>

                                                <li class="previous" ng-class="{true:'disabled'}[!pageInfo.hasPreviousPage]">
                                                    <a href-void ng-click="go_pages('previousPage', pageInfo.pageNum, pageInfo.pageSize)">上一页</a>
                                                </li>

                                                <li ng-repeat="page in pageInfo.navigatepageNums"
                                                    ng-class="{true:'active'}[pageInfo.pageNum==page]">
                                                    <a href-void ng-click="go_pages('loadPage', page, pageInfo.pageSize)">{{page}}</a>
                                                </li>

                                                <li class="next" ng-class="{true:'disabled'}[!pageInfo.hasNextPage]">
                                                    <a href-void ng-click="go_pages('nextPage',pageInfo.pageNum, pageInfo.pageSize, pageInfo.pages,searchCondition.houseId)">下一页</a>
                                                </li>
                                                <li ng-class="{true:'disabled'}[pageInfo.isLastPage]">
                                                    <a href-void ng-click="go_pages('lastPage',pageInfo.pageNum, pageInfo.pageSize, pageInfo.pages)">尾页</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--分业结束  -->
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </section>

</div>
