<div class="col-md-6 col-sm-6 mar-top2 home-module" ng-controller="productionEquipmentCtrl">
    <div class="col-center col-center-3">
        <h3>设备</h3>
        <div class="home-module-content" id="sheb" style="width:560px; height:300px"></div>
            <!-- <div class="liangspz-charts" id="lspz" style="height: 180px" >
        	</div> -->
    </div>

</div>
<div class="col-md-6 col-sm-6 mar-top2 home-module" ng-controller="productionEquipmentCtrl">

    <div class="col-center col-center-3">
        <h3>药剂</h3>
        <div class="home-module-content" id="yj" style="width:560px; height:300px"></div>
            <!-- <div class="liangspz-charts" id="lspz" style="height: 180px" >
        	</div> -->
    </div>

</div>