<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section widget-grid id="widget-grid">
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="form-grid-widget"
                     data-widget-colorbutton="false" data-widget-editbutton="false"
                     data-widget-custombutton="false">
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form id="basicStorehouseView-form" class="smart-form ng-pristine ng-valid"
                                  data-validator-option="validateOptions" novalidate="novalidate">
                                <header>
                                    <a href-void class="btn btn-default btn-xs" ng-click="retList()"><i
                                            class="fa fa-angle-left"></i>&nbsp;返回&nbsp;</a>
                                    &nbsp;<strong>虫害信息设置详情</strong>
                                    <span class="pull-right font-xs">带*的部分必须填写</span>
                                </header>
                                <table class="table table-striped table-bordered table-hover" width="100%">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">仓房名称:&emsp;<span
                                                        style="color: red;margin-left: 5px;text-align: center;">*</span></label>
                                                <label class="select">
                                                    <select ng-model="insect.vcfcode" name="vcfcode"
                                                            ng-options="store.storehouseCode as store.storehouseName for store in storelist"
                                                            ng-disabled="isNotEdit" class="form-control"
                                                            required>
                                                        <option value="">--请选择--</option>
                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-3" ng-hide="isAdd">
                                                <label class="label">设备编码:&emsp;</label>
                                                <label class="input">
                                                    <input type="text" maxlength="5" ng-model="insect.vdevcode"
                                                           ng-disabled="true" name="vdevcode">
                                                           
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">设备名称:&emsp;<span
                                                        style="color: red;margin-left: 5px;text-align: center;">*</span></label>
                                                <label class="input">
                                                    <input type="text" maxlength="20"
                                                           ng-model="insect.vdevname"
                                                           ng-blur="itExistCode('',insect.vdevname)"
                                                           ng-disabled="isNotEdit"
                                                           name="vdevname" required>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">开始通道号:</label> <label class="input">
                                                <input type="text" name="startchannel" validNumber="true"
                                                       ng-model="insect.startchannel" maxlength="10" ng-disabled="isNotEdit">
                                            </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">结束通道号:</label> <label class="input">
                                                <input type="text" ng-model="insect.endtchannel"
                                                       ng-disabled="isNotEdit"
                                                       name="endtchannel" maxlength="10" validNumber="true">
                                            </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">站点编码:&emsp;<span
                                                        style="color: red;margin-left: 5px;text-align: center;">*</span></label>
                                                <label class="select">
                                                    <select ng-model="insect.sitecode" name="sitecode"
                                                            ng-options="station.sitecode as station.sitename for station in stations"
                                                            ng-disabled="isNotEdit" class="form-control"
                                                            required>
                                                        <option value="">--请选择--</option>
                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">描述:</label>
                                                <label class="input">
                                                    <input type="text" maxlength="50"  ng-model="insect.remark"
                                                           ng-disabled="isNotEdit" name="remark">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions">
                                        <footer class="text-align-center">
                                            <button type="button" class="btn btn-default" ng-click="retList()">取消
                                            </button>
                                            <button type="button" class="btn btn-primary" ng-hide="isNotEdit"
                                                    ng-click="save()">保存
                                            </button>
                                        </footer>
                                    </div>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>