<div id="content">
    <section id="widget-grid" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget id="form-grid-widget"
                    data-widget-colorbutton="false" data-widget-editbutton="false"
                    data-widget-custombutton="false">
                    <div>
                        <div class="widget-body no-padding">
                            <form id="drugStandingBook-detail-form" class="smart-form ng-pristine ng-valid" data-validator-option="validateOptions" novalidate="novalidate">
                                <header>
									<a href-void class="btn btn-default btn-xs" ng-click="retList()">
										<i class="fa fa-angle-left"></i>&nbsp;返回&nbsp;
									</a>
									&nbsp;<strong>药剂台账详情</strong>
								</header>
								
								<header>
                                	<h6>
                                		<strong>药剂基本信息</strong>
                               		</h6>
                          		</header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">药剂种类</label>
                                         	<label class="input"> 
                                                <input class="form-control" type="text" ng-model="drugKind" name="drugKind" ng-readonly="true">
                                            </label>
                                         </section>
                                         <section class="col col-4">
                                            <label class="label">药剂名称</label> 
                                            <label class="input"> 
                                             	<input class="form-control" type="text" ng-model="drugName" ng-readonly="true" name="drugName">
                                         	</label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">药剂形态</label> 
                                            <label class="input"> 
                                             	<input class="form-control" type="text" ng-model="drugType" ng-readonly="true" name="drugType">
                                         	</label>
                                        </section>
                                    </div>
                                    
                                    
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">药剂包装</label>
                                            <label class="input"> 
                                             	<input class="form-control" type="text" ng-model="drugPacking" name="drugPacking" ng-readonly="true">
                                         	</label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">规格型号</label>
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="info.drugSpecification" ng-readonly="true" name="drugSpecification" 
                                                placeholder="请选择药剂编号" required>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">生产厂家</label> 
                                            <label class="input"> 
                                                <input class="form-control" type="text" ng-model="info.manufacturer" ng-readonly="true" name="manufacturer" 
                                                placeholder="请选择药剂编号" required>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">药剂编号</label>
                                            <label class="input">
                                                <input class="form-control" type="text" ng-model="pageInfo.list[0].drugNumber" ng-readonly="true" name="drugNumber"
                                                       placeholder="请选择药剂编号" required>
                                            </label>
                                        </section>
                                    </div>
                                    
                                </fieldset>
                                
                                
                                <header>
                                	<h6>
                                		<strong>台账明细列表</strong>
                               		</h6>
                          		</header>
                                <fieldset>
	                                <table class="table table-striped table-bordered table-hover" width="100%">
				                        <thead>
					                        <tr>
					                            <th> 日期</th>
					                            <th> 类型</th>
					                            <th> 收入数量</th>
					                            <th> 支出数量</th>
					                            <th> 库存数量</th>
					                        </tr>
				                        </thead>
				                        <tbody>
				                            <tr ng-repeat="drugStandingBook in pageInfo.list">
				                          		<td>{{ drugStandingBook.createTime | date:'yyyy-MM-dd'}}</td>
				                                <td>
				                                	<div ng-switch="{{ drugStandingBook.type }}">
				                                		<div ng-switch-when=1>入库</div>
				                                		<div ng-switch-when=2>归还</div>
				                                		<div ng-switch-when=3>出库</div>
				                                		<div ng-switch-when=4>盘点</div>
				                                		<div ng-switch-when=5>销毁</div>
				                                	</div>
				                                </td>
				                                <td>{{ drugStandingBook.storageCount }}</td>
				                                <td>{{ drugStandingBook.deliveryCount }}</td>
				                                <td>{{ drugStandingBook.amount }}</td>
				                            </tr>
				                        </tbody>
			                        </table>
									<div smart-include="app/layout/partials/page.tpl.html"></div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>